Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

Use array for telmetry properties in CompilationTagHelperResolver
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/CompilationTagHelperResolver.cs
Owners: @dotnet/razor-tooling

Remove tooling's near-identical copy of ComponentShim. The compiler version was a superset.
  Razor.sln
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Microsoft.AspNetCore.Razor.Test.Common.Tooling.csproj
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.ComponentShim.Tooling/Microsoft.AspNetCore.Components.Forms.netstandard2.0.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.ComponentShim.Tooling/Microsoft.AspNetCore.Components.Web.netstandard2.0.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.ComponentShim.Tooling/Microsoft.AspNetCore.Components.netstandard2.0.Manual.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.ComponentShim.Tooling/Microsoft.AspNetCore.Components.netstandard2.0.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.ComponentShim.Tooling/Microsoft.AspNetCore.Razor.Test.ComponentShim.Tooling.csproj
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.MvcShim.ClassLib/Microsoft.AspNetCore.Razor.Test.MvcShim.ClassLib.csproj
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.MvcShim/Microsoft.AspNetCore.Razor.Test.MvcShim.csproj
Owners: @dotnet/razor-tooling

[Documentation] Require always updating both rzls and telemetry dlls in VS Code (#9475)
  docs/InsertingRazorIntoVSCodeCSharp.md
Owners: none

Update src/Razor/src/Microsoft.VisualStudio.RazorExtension/Options/AdvancedOptionPage.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Options/AdvancedOptionPage.cs
Owners: @dotnet/razor-tooling

Rever VSTelemetryReporter space change
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/VSTelemetryReporter.cs
Owners: @dotnet/razor-tooling

Update src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
Owners: @dotnet/razor-tooling

Add a start event to LspRequest tracking
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/TelemetryReporter.cs
Owners: @dotnet/razor-tooling

Let's try something different...
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/SuperFallbackWindowsRazorProjectHost.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/SuperFallbackWindowsRazorProjectHostTest.cs
Owners: @dotnet/razor-tooling

Generate proejct.razor.vs.bin for non-Razor projects that have Razor files
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/DefaultWindowsRazorProjectHost.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/SuperFallbackWindowsRazorProjectHost.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/SuperFallbackWindowsRazorProjectHostTest.cs
Owners: @dotnet/razor-tooling

Add a fallback project manager to handle loose razor files from projects we don't know about
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/DefaultRazorDynamicFileInfoProvider.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/FallbackProjectManager.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/DefaultRazorDynamicFileInfoProviderTest.cs
Owners: @dotnet/razor-tooling

Update namespace to match the rest of the folder
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/DefaultRazorDynamicFileInfoProvider.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/FallbackProjectManager.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/DefaultRazorDynamicFileInfoProviderTest.cs
Owners: @dotnet/razor-tooling

Tests!
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/FallbackProjectManager.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/ProjectSystem/FallbackProjectManagerTest.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/ProjectSystem/TestProjectConfigurationFilePathStore.cs
Owners: @dotnet/razor-tooling

Update Roslyn to 4.9.0-1.23525.14
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix build warning
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/ProjectSystem/TestProjectConfigurationFilePathStore.cs
Owners: @dotnet/razor-tooling

Re-enable host outputs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTests.cs
Owners: @dotnet/razor-compiler

Re-enable line mapping tests
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorComponentTests.cs
Owners: @dotnet/razor-compiler

Update a test because of the line directive fix
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentRenderModeDirectiveIntegrationTests.cs
Owners: @dotnet/razor-compiler

Fix tests for linux and mac hopefully
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/ProjectSystem/FallbackProjectManagerTest.cs
Owners: @dotnet/razor-tooling

Include Roslyn dependencies
  azure-pipelines.yml
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix mismerge, causing build break
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/LoggerAdapter.cs
Owners: @dotnet/razor-tooling

Restore accidentally removed parts of the sln
  Razor.sln
Owners: none

Fix resource lookup
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/RazorTestResources.cs
Owners: @dotnet/razor-tooling

Add parameter names
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/FindTokenIntegrationTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/CSharpAutoCompleteTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/CSharpBlockTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/WhiteSpaceRewriterTest.cs
Owners: @dotnet/razor-compiler

Fix file encoding
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/CSharpBlockTest.cs
Owners: @dotnet/razor-compiler

Add utf8bom to the repo vscode settings
  .vscode/settings.json
Owners: none

Fix another BOM change
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/CSharpBlockTest.cs
Owners: @dotnet/razor-compiler

Add missing using
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/LoggerAdapter.cs
Owners: @dotnet/razor-tooling

Support PlatformAgnostic
  docs/InsertingRazorIntoVSCodeCSharp.md
Owners: none

Add a start event to LspRequest tracking (#9478)
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/TelemetryReporter.cs
Owners: @dotnet/razor-tooling

Remove obsolete using alias
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/TagHelperTooltipFactoryBaseTest.cs
Owners: @dotnet/razor-tooling

Post merge fix
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Options/OptionsStorage.cs
Owners: @dotnet/razor-tooling

Add setting for snippets (#9467)
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Editor/ClientSettings.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Options/OptionsStorage.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Options/AdvancedOptionPage.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/RazorPackage.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/VSPackage.resx
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.cs.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.de.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.es.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.fr.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.it.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.ja.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.ko.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.pl.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.pt-BR.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.ru.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.tr.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.zh-Hans.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.zh-Hant.xlf
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/ClientSettingsManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/LanguageConfigurationTest.cs
Owners: @dotnet/razor-tooling

Create a fallback project manager to allow projects to work without using the Razor or Web SDK
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/DefaultRazorDynamicFileInfoProvider.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/FallbackProjectManager.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/ProjectSystem/FallbackProjectManagerTest.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/ProjectSystem/TestProjectConfigurationFilePathStore.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/DefaultRazorDynamicFileInfoProviderTest.cs
Owners: @dotnet/razor-tooling

Don't spell check any attributes
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/SpellCheck/DocumentSpellCheckEndpoint.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/SpellCheck/DocumentSpellCheckEndpointTest.cs
Owners: @dotnet/razor-tooling

Add failing test
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Formatting/HtmlFormattingTest.cs
Owners: @dotnet/razor-tooling

Don't consider implicit expressions significant
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormattingPassBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Formatting/CodeDirectiveFormattingTest.cs
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2302942
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.pt-BR.xlf
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2302942
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.pt-BR.xlf
Owners: @dotnet/razor-tooling

Ensure that TestRazorSourceDocument has a file path in tooling tests (#1)
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test.Common/LanguageServerTestBase.cs
Owners: @dotnet/razor-tooling

Combine ToolingParserTestBase and ParserTestBase's handling of file names.
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Language/Legacy/ToolingParserTestBase.cs
  src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/Legacy/IParserTest.cs
  src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/Legacy/InitializeTestFileAttribute.cs
  src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/Legacy/ParserTestBase.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler
