Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler

Revert `script` tag codegen for Razor 7 and lower
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentMarkupBlockPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorProjectEngine.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Components/ComponentMarkupBlockPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ScriptTag_Razor7/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ScriptTag_Razor7/TestComponent.ir.txt
Owners: @dotnet/razor-compiler

Add a test
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTests.cs
Owners: @dotnet/razor-compiler

Fix handling of incorrect razor lang version
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/IncrementalValueProviderExtensions.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.RazorProviders.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTests.cs
Owners: @dotnet/razor-compiler

No need to store telemetry reporter
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/OOPTagHelperResolver.cs
Owners: @dotnet/razor-tooling

Use null instead of string.Empty
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Diagnostics/RazorDiagnosticConverter.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/IProjectSnapshot.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/ProjectSnapshot.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/EphemeralProjectSnapshot.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/ProjectContexts.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Diagnostics/RazorDiagnosticsPublisherTest.cs
Owners: @dotnet/razor-tooling

Add project information to razor diagnostics (#9595)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Diagnostics/DocumentPullDiagnosticsEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Diagnostics/RazorDiagnosticConverter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Diagnostics/RazorDiagnosticsPublisher.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Diagnostics/RazorDiagnosticConverterTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Diagnostics/RazorDiagnosticsPublisherTest.cs
Owners: @dotnet/razor-tooling

Revert `<script>` codegen for Razor 7 and lower (#9603)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentMarkupBlockPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorProjectEngine.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Components/ComponentMarkupBlockPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ScriptTag_Razor7/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ScriptTag_Razor7/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ScriptTag_Razor8/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ScriptTag_Razor8/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ScriptTag_Razor7/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ScriptTag_Razor7/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ScriptTag_Razor8/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ScriptTag_Razor8/TestComponent.ir.txt
Owners: @dotnet/razor-compiler

Keep complex attribute content (#9553)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentComplexAttributeContentPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentDesignTimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentRenderModeLoweringPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentRuntimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute_02/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute_02/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute_02/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute_02/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute_03/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute_03/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute_03/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute_03/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_MixedValue/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_MixedValue/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_MoreElements_CSharpValue/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_MoreElements_CSharpValue/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_RazorError/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_RazorError/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute_02/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute_02/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute_02/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute_02/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute_03/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute_03/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute_03/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute_03/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_MixedValue/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_MixedValue/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_MixedValue/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_RazorError/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_RazorError/TestComponent.ir.txt
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/CompletionIntegrationTests.cs
  src/Shared/Microsoft.AspNetCore.Razor.Test.Common/ErrorCode.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Fix reporting of incorrect `RazorLangVersion` (#9605)
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/IncrementalValueProviderExtensions.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.RazorProviders.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTests.cs
Owners: @dotnet/razor-compiler

Break up and swap some conditionals to avoid unneeded work
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
Owners: @dotnet/razor-compiler

Avoid creating params arrays
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
Owners: @dotnet/razor-compiler

Reduce allocations in LegacyFileKindVistior.VisitAttribute
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
Owners: @dotnet/razor-compiler

Fix misspelled API name
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorDirectiveClassifierPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorDocumentClassifierPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorOptimizationPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorParsingPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorSyntaxTreePhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorEnginePhaseBase.cs
Owners: @dotnet/razor-compiler

Avoid boxing ImmutableArray<RazorSyntaxTree> for imports
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorParsingPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorTagHelperContextDiscoveryPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorCodeDocumentExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorIntermediateNodeLoweringPhaseTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorParsingPhaseTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorCodeDocumentExtensionsTest.cs
Owners: @dotnet/razor-compiler

Annotate SyntaxNode, SyntaxList and friends for nullability
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/ClassifiedSpanVisitor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/HtmlMarkupParser.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxList.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilderExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilderOfT.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListOfT.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxNode.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxUtilities.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingVisitor.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Move logging infra down a level so it can be used
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Logging/DefaultLogHubLogWriter.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Logging/LogHubLogWriter.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Logging/LogHubLogger.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Logging/LogHubLoggerProvider.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Logging/LogHubLoggerProviderFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Logging/LogHubLoggerProviderFactoryBase.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Logging/HTMLCSharpLanguageServerLogHubLoggerProvider.cs
Owners: @dotnet/razor-tooling

Log output window log items to LogHub so we get them in feedback tickets
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Logging/OutputWindowLogHubLoggerProviderFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Logging/OutputWindowLogger.cs
Owners: @dotnet/razor-tooling

Remove old ActivityLog logger which was barely used, and move to outputwindow/loghub logging
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/RazorLogger.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ActivityLogRazorLogger.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioWindowsLSPEditorFeatureDetector.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioWindowsProjectCapabilityResolver.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test.Common/TestOutputWindowLogger.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/CSharpVirtualDocumentFactoryTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorProjectInfoPublisherTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/TestRazorLogger.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/VisualStudioWindowsLSPEditorFeatureDetectorTest.cs
Owners: @dotnet/razor-tooling

Add specialized SyntaxList<T>.Create methods to avoid using builders
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/ClassifiedSpanVisitor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListOfT.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingVisitor.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Add SyntaxListBuilderPool to reduce loads of SyntaxListBuilder allocations
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/ClassifiedSpanVisitor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperBlockRewriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperParseTreeRewriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilderExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilderOfT.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilderPool.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilderPool.PooledBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilderPool.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListOfT.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxNode.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxUtilities.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DirectiveTokenEditHandlerTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/CodeBlockEditHandlerTest.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingVisitor.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultRazorIndentationFactsServiceTest.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Use pooled collections in a couple of places
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
Owners: @dotnet/razor-compiler

Move workspace state generator up so it can do logging
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/DefaultProjectWorkspaceStateGenerator.cs
Owners: @dotnet/razor-tooling

Add debug logging to the workspace state generator
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/DefaultProjectWorkspaceStateGenerator.cs
Owners: @dotnet/razor-tooling

Add debug logs about project info serializer
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorProjectInfoPublisher.cs
Owners: @dotnet/razor-tooling

Publish on document change if the config file doesn't exist
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorProjectInfoPublisher.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorProjectInfoPublisherTest.cs
Owners: @dotnet/razor-tooling

Fix tests
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Properties/AssemblyInfo.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultProjectWorkspaceStateGeneratorTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultRazorDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultRazorEditorFactoryServiceTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultVisualStudioRazorParserTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/Microsoft.VisualStudio.Editor.Razor.Test.csproj
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorProjectInfoPublisherTest.cs
Owners: @dotnet/razor-tooling

Log when formatting operations are being abandoned
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/RangeExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingContentValidationPass.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingDiagnosticValidationPass.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/SR.resx
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.cs.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.de.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.es.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.fr.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.it.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.ja.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.ko.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.pl.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.pt-BR.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.ru.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.tr.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.zh-Hans.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.zh-Hant.xlf
Owners: @dotnet/razor-tooling

Emit type arguments in correct order
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentDesignTimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
Owners: @dotnet/razor-compiler

Add baselines
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/GenericComponent_TypeParameterOrdering/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/GenericComponent_TypeParameterOrdering/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/GenericComponent_TypeParameterOrdering/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/GenericComponent_TypeParameterOrdering/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/GenericComponent_TypeParameterOrdering/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/GenericComponent_TypeParameterOrdering/TestComponent.mappings.txt
Owners: @dotnet/razor-compiler

Don't allow ChildNodesHelper.Count to be less than zero
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
Owners: @dotnet/razor-compiler

Remove extra word from comment
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
Owners: @dotnet/razor-compiler

Return non-nullable ImmutableArray<T> from GetImportSyntaxTrees()
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorTagHelperContextDiscoveryPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorCodeDocumentExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorParsingPhaseTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorCodeDocumentExtensionsTest.cs
Owners: @dotnet/razor-compiler

Prefer AssumeNotNull over the null forgiveness operator
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListOfT.cs
Owners: @dotnet/razor-compiler

Update PublishData.json
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Update PublishData.json (#9623)
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Add `global::` prefix to `System.Action`
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Intermediate/ReferenceCaptureIntermediateNode.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
Owners: @dotnet/razor-compiler

Update baselines
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_WithRef_Nullable_Generic/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/GenericComponent_WithComponentRef_TypeInference_CreatesDiagnostic/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_WithRef_Nullable_Generic/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/GenericComponent_WithComponentRef_TypeInference_CreatesDiagnostic/TestComponent.codegen.cs
Owners: @dotnet/razor-compiler

Enable precise ranges by default
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioWindowsLanguageServerFeatureOptions.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.Custom.pkgdef
Owners: @dotnet/razor-tooling

Add `global::` prefix to `System.Action` (#9626)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Intermediate/ReferenceCaptureIntermediateNode.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_WithRef_Nullable_Generic/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/GenericComponent_WithComponentRef_TypeInference_CreatesDiagnostic/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_WithRef_Nullable_Generic/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/GenericComponent_WithComponentRef_TypeInference_CreatesDiagnostic/TestComponent.codegen.cs
Owners: @dotnet/razor-compiler

Emit type arguments in correct order (#9621)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentDesignTimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/GenericComponent_TypeParameterOrdering/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/GenericComponent_TypeParameterOrdering/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/GenericComponent_TypeParameterOrdering/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/GenericComponent_TypeParameterOrdering/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/GenericComponent_TypeParameterOrdering/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/GenericComponent_TypeParameterOrdering/TestComponent.mappings.txt
Owners: @dotnet/razor-compiler
