Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet-maestro-bot, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Don't return MarkupTextLiterals (#4658)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/TagHelperSemanticRangeVisitor.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_CSharpBlock_HTML.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_HandleTransitionEscape.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_MultipleBlankLines.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_PartialHTMLCommentAsync.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_Razor_DoesNotApplyOnNonTagHelpersAsync.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_Razor_EditTwiceAsync.semanticedit.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_Razor_EditTwiceAsync_1.semanticedit.txt
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

Update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: none

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: none

Add issue filing link to aspnetcore repo (#4662)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: none

Update var name
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/AutoInsert/AutoClosingTagOnAutoInsertProvider.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update var name (#4664)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/AutoInsert/AutoClosingTagOnAutoInsertProvider.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update README.md
  README.md
Owners: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

Update VSCode link
  src/Razor/src/Microsoft.AspNetCore.Razor.VSCode/src/Diagnostics/ReportIssuePanel.ts
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Update README.md
  README.md
Owners: none

Update ContainedLanguage virtual document update APIs to take in state object.
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/DefaultLSPDocument.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/DefaultLSPDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/LSPDocument.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/TrackingLSPDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/VirtualDocument.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/VirtualDocumentBase.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/CSharpVirtualDocument.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/DefaultRazorLanguageServerCustomMessageTarget.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlVirtualDocument.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test.Common/TestDocumentManager.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test.Common/TestVirtualDocumentSnapshot.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test/DefaultLSPDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test/DefaultLSPDocumentSynchronizerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test/DefaultLSPDocumentTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test/TestVirtualDocument.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test/VirtualDocumentBaseTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/DefaultRazorLanguageServerCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Remove O# workaround from RazorSDK (#21806)
  src/RazorSdk/Targets/Microsoft.NET.Sdk.Razor.SourceGenerators.targets
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: @dotnet/razor-tooling

Update azure-pipelines-richnav.yml
  azure-pipelines-richnav.yml
Owners: none

Update README.md
  README.md
Owners: none

Update ContainedLanguage virtual document update APIs to take in state object.
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/DefaultLSPDocument.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/DefaultLSPDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/LSPDocument.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/TrackingLSPDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/VirtualDocument.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/VirtualDocumentBase.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/CSharpVirtualDocument.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/DefaultRazorLanguageServerCustomMessageTarget.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlVirtualDocument.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test.Common/TestDocumentManager.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test.Common/TestVirtualDocumentSnapshot.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test/DefaultLSPDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test/DefaultLSPDocumentSynchronizerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test/DefaultLSPDocumentTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test/TestVirtualDocument.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test/VirtualDocumentBaseTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/DefaultRazorLanguageServerCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Add issue management policies
  docs/IssueManagementPolicies.md
Owners: none

Add issue management policies (#5591)
  docs/IssueManagementPolicies.md
Owners: none

Allow C# completion in middle of words.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/CompletionHandlerTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update to 3.1.120 SDK
  global.json
Owners: @dotnet/razor-tooling

[ASP.NET] Tidy up messages in GenerateStaticWebAssetsDevelopmentManifest (#21974)
  src/RazorSdk/Tasks/StaticWebAssets/GenerateStaticWebAssetsDevelopmentManifest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Upgrade Roslyn to 4.1.0-1.21471.13
  eng/Versions.props
Owners: @dotnet-maestro-bot

Upgrade Roslyn to 4.1.0-1.21471.13 (#5598)
  eng/Versions.props
Owners: @dotnet-maestro-bot

Replace Azure Pool Provider with 1ES
  azure-pipelines-richnav.yml
  azure-pipelines.yml
Owners: @dotnet/razor-tooling

Switch to 1ES R&D pools on main (#4654)
  azure-pipelines-richnav.yml
  azure-pipelines.yml
Owners: @dotnet/razor-tooling

Allow C# completion in middle of words.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/CompletionHandlerTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Improve project reference consistency (dotnet/aspnetcore#37338)
  src/tools/Microsoft.AspNetCore.Razor.Internal.Transport/Microsoft.AspNetCore.Razor.Internal.Transport.csproj
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Use NuGetPackageVersion in dotnet.*.js file name (#21919)
  src/RazorSdk/Tasks/StaticWebAssets/DefineStaticWebAssets.cs
  src/RazorSdk/Tasks/StaticWebAssets/MergeConfigurationProperties.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Support generic value tuple parameters in components (dotnet/aspnetcore#34737)
  src/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithTypeParameterValueTuple/TestComponent.codegen.cs
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithTypeParameterValueTuple/TestComponent.ir.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithTypeParameterValueTuple/TestComponent.mappings.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithTypeParameterValueTuple/UseTestComponent.codegen.cs
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithTypeParameterValueTuple/UseTestComponent.ir.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithTypeParameterValueTuple/UseTestComponent.mappings.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithTypeParameterValueTuple/TestComponent.codegen.cs
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithTypeParameterValueTuple/TestComponent.ir.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithTypeParameterValueTuple/TestComponent.mappings.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithTypeParameterValueTuple/UseTestComponent.codegen.cs
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithTypeParameterValueTuple/UseTestComponent.ir.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithTypeParameterValueTuple/UseTestComponent.mappings.txt
  src/Microsoft.CodeAnalysis.Razor/src/DefaultTypeNameFeature.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Replace HashCodeCombiner with HashCode (dotnet/aspnetcore#37558)
  src/Microsoft.AspNetCore.Razor.Internal.SourceGenerator.Transport/Microsoft.AspNetCore.Razor.Internal.SourceGenerator.Transport.csproj
  src/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptorComparer.cs
  src/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorComparer.cs
  src/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorComparer.cs
  src/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/LinePragma.cs
  src/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorDiagnostic.cs
  src/Microsoft.AspNetCore.Razor.Language/src/DirectiveDescriptorComparer.cs
  src/Microsoft.AspNetCore.Razor.Language/src/DirectiveTokenDescriptorComparer.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Legacy/AddTagHelperChunkGenerator.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Legacy/AutoCompleteEditHandler.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Legacy/DirectiveTokenChunkGenerator.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Legacy/ImplicitExpressionEditHandler.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Legacy/LiteralAttributeChunkGenerator.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Legacy/LocationTagged.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Legacy/RemoveTagHelperChunkGenerator.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperPrefixDirectiveChunkGenerator.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Microsoft.AspNetCore.Razor.Language.csproj
  src/Microsoft.AspNetCore.Razor.Language/src/RazorConfiguration.cs
  src/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptorComparer.cs
  src/Microsoft.AspNetCore.Razor.Language/src/SourceChange.cs
  src/Microsoft.AspNetCore.Razor.Language/src/SourceLocation.cs
  src/Microsoft.AspNetCore.Razor.Language/src/SourceMapping.cs
  src/Microsoft.AspNetCore.Razor.Language/src/SourceSpan.cs
  src/Microsoft.AspNetCore.Razor.Language/src/StringSegment.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Syntax/ChildSyntaxList.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxTriviaList.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Syntax/TextSpan.cs
  src/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorComparer.cs
  src/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptorComparer.cs
  src/Microsoft.CodeAnalysis.Razor/src/AssemblyIdentityEqualityComparer.cs
  src/Microsoft.CodeAnalysis.Razor/src/Microsoft.CodeAnalysis.Razor.csproj
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix `@using` statement completion in _Imports.razor
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/CompletionHandlerTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix `@using` statement completion in _Imports.razor
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/CompletionHandlerTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Eliminate pre-built assets during source-build (#22072)
  src/RazorSdk/SourceGenerators/Microsoft.NET.Sdk.Razor.SourceGenerators.csproj
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling
/azure-pipelines.yml                           @dotnet/razor-tooling
/eng/                                          @dotnet/razor-tooling
/eng/common/                                   @dotnet-maestro-bot
/eng/Versions.props                            @dotnet-maestro-bot
/eng/Version.Details.xml                       @dotnet-maestro-bot
/src/                                          @dotnet/razor-tooling @NTaylorMullen @ryanbrandenburg @allisonchou @sharwell
