Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet-maestro-bot, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling
/azure-pipelines.yml                           @dotnet/razor-tooling
/eng/                                          @dotnet/razor-tooling
/eng/common/                                   @dotnet-maestro-bot
/eng/Versions.props                            @dotnet-maestro-bot
/eng/Version.Details.xml                       @dotnet-maestro-bot
/src/                                          @dotnet/razor-tooling @NTaylorMullen @ryanbrandenburg @allisonchou @sharwell

Don't use the SourceTextDiffer
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormattingPass.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpOnTypeFormattingPass.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/HtmlFormattingPass.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/RazorFormattingPass.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Move code up
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpOnTypeFormattingPass.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingPassBase.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Don't need to validate parameters in private methods in a nullable context
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpOnTypeFormattingPass.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Format collection and object initializers if they're empty
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormatter.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Formatting/CodeDirectiveFormattingTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix ConcatenateCssFiles when used with Razor class libraries (#21982)
  src/RazorSdk/Targets/Microsoft.NET.Sdk.Razor.ScopedCss.targets
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Allow C# completion in middle of words.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/CompletionHandlerTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix `@using` statement completion in _Imports.razor
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/CompletionHandlerTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

React to updated LanguageServerClient.Implementation packages.
  eng/Versions.props
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Logging/RazorLogHubTraceProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Microsoft.VisualStudio.LanguageServerClient.Razor.csproj
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/TestLanguageServiceBroker.cs
Owners: @dotnet-maestro-bot, @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix release build
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Microsoft.AspNetCore.Razor.LanguageServer.csproj
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/AssemblyCodeBases.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.csproj
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/source.extension.vsixmanifest
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Decouple language server impl dependency from VS layer.
  eng/Versions.props
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks.csproj
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Microsoft.AspNetCore.Razor.LanguageServer.csproj
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Microsoft.VisualStudio.LanguageServerClient.Razor.csproj
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test.Common/Microsoft.AspNetCore.Razor.LanguageServer.Test.Common.csproj
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Microsoft.AspNetCore.Razor.LanguageServer.Test.csproj
Owners: @dotnet-maestro-bot, @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix package downgrade errors + use latest Impl package.
  eng/Version.Details.xml
  eng/Versions.props
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Microsoft.VisualStudio.LanguageServerClient.Razor.csproj
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.csproj
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test.Common/Microsoft.AspNetCore.Razor.LanguageServer.Test.Common.csproj
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Microsoft.AspNetCore.Razor.LanguageServer.Test.csproj
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/TestLanguageServiceBroker.cs
Owners: @dotnet-maestro-bot, @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix VSIX target
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.csproj
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Rebase on latest.
  eng/Versions.props
Owners: @dotnet-maestro-bot

Fix System.Text.Json.SourceGeneration.JsonSourceGenerator load failure.
  eng/Versions.props
Owners: @dotnet-maestro-bot

Fix System.Text.Json.SourceGeneration.JsonSourceGenerator load failure.
  eng/Versions.props
Owners: @dotnet-maestro-bot

Fix VSIX target
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.csproj
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

React to updated LanguageServerClient.Implementation packages.
  eng/Versions.props
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Logging/RazorLogHubTraceProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Microsoft.VisualStudio.LanguageServerClient.Razor.csproj
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/TestLanguageServiceBroker.cs
Owners: @dotnet-maestro-bot, @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Decouple language server impl dependency from VS layer.
  eng/Versions.props
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks.csproj
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Microsoft.AspNetCore.Razor.LanguageServer.csproj
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Microsoft.VisualStudio.LanguageServerClient.Razor.csproj
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test.Common/Microsoft.AspNetCore.Razor.LanguageServer.Test.Common.csproj
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Microsoft.AspNetCore.Razor.LanguageServer.Test.csproj
Owners: @dotnet-maestro-bot, @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Rebase on latest.
  eng/Versions.props
Owners: @dotnet-maestro-bot

Fix package downgrade errors + use latest Impl package.
  eng/Version.Details.xml
  eng/Versions.props
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Microsoft.VisualStudio.LanguageServerClient.Razor.csproj
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.csproj
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test.Common/Microsoft.AspNetCore.Razor.LanguageServer.Test.Common.csproj
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Microsoft.AspNetCore.Razor.LanguageServer.Test.csproj
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/TestLanguageServiceBroker.cs
Owners: @dotnet-maestro-bot, @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix release build
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Microsoft.AspNetCore.Razor.LanguageServer.csproj
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/AssemblyCodeBases.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.csproj
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/source.extension.vsixmanifest
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Address code review feedback.
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/DefaultLSPRequestInvoker.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/ReinvocationResponse.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Add LSP request invoker APIs to interact with new delegation APIs.
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/DefaultLSPRequestInvoker.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/LSPRequestInvoker.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/ReinvocationResponse.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Extensions/RazorLanguageKindExtensions.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/LanguageServerKindExtensions.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Migrate projection and edit remapping APIs to new re-invocation APIs.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/DefaultLSPDocumentMappingProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/DefaultLSPProjectionProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/LSPDocumentMappingProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/LSPProjectionProvider.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/DefaultLSPDocumentMappingProviderTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/DefaultLSPProjectionProviderTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Add LSP request invoker APIs to interact with new delegation APIs.
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/DefaultLSPRequestInvoker.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/LSPRequestInvoker.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/ReinvocationResponse.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Extensions/RazorLanguageKindExtensions.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/LanguageServerKindExtensions.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Migrate projection and edit remapping APIs to new re-invocation APIs.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/DefaultLSPDocumentMappingProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/DefaultLSPProjectionProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/LSPDocumentMappingProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/LSPProjectionProvider.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/DefaultLSPDocumentMappingProviderTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/DefaultLSPProjectionProviderTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Address code review feedback.
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/DefaultLSPRequestInvoker.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/ReinvocationResponse.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Migrate HTMLC# `completionItem/resolve` to new delegation APIs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionResolveHandler.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/CompletionResolveHandlerTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Migrate HTMLC# `textDocument/completion` to new delegation APIs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/ReinvocationResponseExtensions.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/CompletionHandlerTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix ReinvocationResponseHelper to work properly for `null` responses.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionResolveHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/ReinvocationResponseHelper.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Remove newline
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorResolveCodeActionParams.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update `razor/resolveCodeActions` to use new delegation APIs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/CSharp/AddUsingsCSharpCodeActionResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/CSharp/CSharpCodeActionResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/CSharp/DefaultCSharpCodeActionResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/CSharp/RazorResolveCodeActionParams.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/CSharp/UnformattedRemappingCSharpCodeActionResolver.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/DefaultRazorLanguageServerCustomMessageTarget.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorLanguageServerCustomMessageTarget.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorResolveCodeActionParams.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/CSharp/AddUsingsCSharpCodeActionResolverTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/CSharp/DefaultCSharpCodeActionResolverTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/DefaultRazorLanguageServerCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update `razor/provideCodeActions` to use new delegation APIs.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/DefaultRazorLanguageServerCustomMessageTarget.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorLanguageServerCustomMessageTarget.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/DefaultRazorLanguageServerCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update push diagnostic translations to use new delegation APIs.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/DefaultLSPDiagnosticsTranslator.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/LSPDiagnosticsTranslator.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorHtmlPublishDiagnosticsInterceptor.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/DefaultLSPDiagnosticsTranslatorTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update C# pull diagnostics to use new delegation APIs.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/DocumentPullDiagnosticsHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/RazorHtmlCSharpLanguageServer.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/DocumentPullDiagnosticsHandlerTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Avoid null args when RazorDiagnostic does not have a message (dotnet/aspnetcore#37648)
  src/Microsoft.AspNetCore.Razor.Language/src/RazorDiagnosticDescriptor.cs
  src/Microsoft.AspNetCore.Razor.Language/src/Resources.resx
  src/Microsoft.AspNetCore.Razor.Language/test/RazorDiagnosticDescriptorTest.cs
  src/Microsoft.AspNetCore.Razor.Language/test/RazorDiagnosticTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Addressed code review comments.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/DefaultLSPDiagnosticsTranslator.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/DocumentPullDiagnosticsHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorHtmlPublishDiagnosticsInterceptor.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Migrate razor semantic token methods to new delegation APIs.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/DefaultRazorLanguageServerCustomMessageTarget.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/DefaultRazorLanguageServerCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Migrate razor/formatDoc/Range requests to new delegation APIs.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/DefaultRazorLanguageServerCustomMessageTarget.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/DefaultRazorLanguageServerCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Migrate OnAutoInsert to new use delegation APIs.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/OnAutoInsertHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/RazorHtmlCSharpLanguageServer.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/HtmlCSharp/OnAutoInsertHandlerTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell
