Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler

Don't add a semicolon to using statements when we insert them
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/AddUsingsCodeActionProviderHelper.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Formatting/CodeActionFormattingTest.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/CSharpCodeActionsTests.cs
Owners: @dotnet/razor-tooling

Update a baseline
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_Duplicate_CSharpValue/TestComponent.codegen.cs
Owners: @dotnet/razor-compiler

Further perf improvement to GetTagHelpersDelta
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RemoteTagHelperDeltaProvider.cs
Owners: @dotnet/razor-tooling

Update configs after vs 17.8 p2 snap
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix flaky test due to test dispatcher
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/VsSolutionUpdatesProjectSnapshotChangeTriggerTest.cs
Owners: @dotnet/razor-tooling

Use the dispatcher in the snapshot manager
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/WorkspaceProjectStateChangeDetectorTest.cs
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2258424
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.de.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.it.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.ru.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.tr.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.zh-Hant.xlf
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2258424
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.de.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.it.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2258424
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ru.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.tr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.zh-Hant.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2257646 (#9217)
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.cs.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.de.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.fr.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.it.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.ja.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.ko.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.ru.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.tr.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.zh-Hant.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.cs.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.de.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.fr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.it.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ja.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ko.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ru.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.tr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.zh-Hant.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2258497
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.pl.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.zh-Hans.xlf
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2258497
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.pl.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.zh-Hans.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2259125
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Resources/xlf/SR.pt-BR.xlf
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2259125
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.pt-BR.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Improve logging of semantic tokens responses, so things don't look broken
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorDocumentMappingService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/ProvideSemanticTokensResponse.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorCustomMessageTarget.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokenInfoServiceTest.cs
Owners: @dotnet/razor-tooling

remove locate owner usage from document context
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Definition/DefinitionEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentContext.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Refactoring/RenameEndpoint.cs
Owners: @dotnet/razor-tooling

Fix bad merge
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/CSharpVirtualDocumentFactoryTest.cs
Owners: @dotnet/razor-tooling

Use inclusive mapping all the time
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Debugging/RazorBreakpointSpanEndpoint.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Debugging/RazorBreakpointSpanEndpointTest.cs
Owners: @dotnet/razor-tooling

Remove. Some test failures.
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormattingPassBase.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/HtmlFormattingPass.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/LinkedEditingRange/LinkedEditingRangeEndpoint.cs
Owners: @dotnet/razor-tooling

remove locate owner usage from document context (#9235)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Definition/DefinitionEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentContext.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Refactoring/RenameEndpoint.cs
Owners: @dotnet/razor-tooling

Wrap implicit expressions, even though they're C# code
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/WrapWithTag/WrapWithTagEndpoint.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/WrapWithTag/WrapWithTagEndpointTests.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/WrapWithTagTests.cs
Owners: @dotnet/razor-tooling

Remove unused usings
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/HtmlFormattingPass.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/LinkedEditingRange/LinkedEditingRangeEndpoint.cs
Owners: @dotnet/razor-tooling

Make debugging easier
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormattingPassBase.cs
Owners: @dotnet/razor-tooling

Fix formatting after moving to FindToken based API
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormattingPassBase.cs
Owners: @dotnet/razor-tooling

Remove unused function
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormattingPassBase.cs
Owners: @dotnet/razor-tooling

Tweak test so it doesn't rely on VS defaults
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/WrapWithTagTests.cs
Owners: @dotnet/razor-tooling

Request options from the client when the server starts
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DefaultClientNotifierService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorConfigurationEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorLanguageServer.cs
Owners: @dotnet/razor-tooling

Moving document mapping endpoints out of EndpointContracts folder
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/EndpointContracts/IRazorLanguageQueryHandler.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/EndpointContracts/IRazorMapToDocumentEditsHandler.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/EndpointContracts/IRazorMapToDocumentRangesHandler.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/IServiceCollectionExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Mapping/RazorLanguageQueryEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Mapping/RazorLanguageQueryParams.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Mapping/RazorLanguageQueryResponse.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Mapping/RazorMapToDocumentEditsEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Mapping/RazorMapToDocumentEditsParams.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Mapping/RazorMapToDocumentEditsResponse.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Mapping/RazorMapToDocumentRangesEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Mapping/RazorMapToDocumentRangesParams.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Mapping/RazorMapToDocumentRangesResponse.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Mapping/RazorLanguageQueryEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Mapping/RazorMapToDocumentRangesEndpointTest.cs
Owners: @dotnet/razor-tooling

Fix test and add another
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/WrapWithTag/WrapWithTagEndpoint.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/WrapWithTagTests.cs
Owners: @dotnet/razor-tooling

Update test output
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/Formatting/TestFiles/Expected/FormatSelection.cshtml
Owners: @dotnet/razor-tooling

Further perf improvement to GetTagHelpersDelta (#9221)
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RemoteTagHelperDeltaProvider.cs
Owners: @dotnet/razor-tooling

Add a test
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorComponentTests.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/TestFiles/RazorSourceGeneratorComponentTests/ScriptTag/Views_Home_Index.html
Owners: @dotnet/razor-compiler

Remove `script` tag special casing
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentMarkupBlockPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Components/ComponentMarkupBlockPassTest.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/TestFiles/RazorSourceGeneratorComponentTests/ScriptTag/Views_Home_Index.html
Owners: @dotnet/razor-compiler

Add some integration tests for expression form of directive
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/RenderMode_Directive_NewExpression/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/RenderMode_Directive_NewExpression/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/RenderMode_Directive_NewExpression/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/RenderMode_Directive_SimpleExpression/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/RenderMode_Directive_SimpleExpression/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/RenderMode_Directive_SimpleExpression/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/RenderMode_Directive_NewExpression/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/RenderMode_Directive_NewExpression/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/RenderMode_Directive_NewExpression/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/RenderMode_Directive_SimpleExpression/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/RenderMode_Directive_SimpleExpression/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/RenderMode_Directive_SimpleExpression/TestComponent.mappings.txt
Owners: @dotnet/razor-compiler

Update Resources.resx
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Resources.resx
Owners: @dotnet/razor-compiler

Apply trivial PR feedback
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/SemanticTokenTestBase.cs
Owners: @dotnet/razor-tooling

Fix compile after merge
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokenInfoServiceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

- Add comments - Switch feature flag default for VS Code to false
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DefaultLanguageServerFeatureOptions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
Owners: @dotnet/razor-tooling

Update azure-pipelines-integration-dartlab.yml for Azure Pipelines
  azure-pipelines-integration-dartlab.yml
Owners: none

Allow project key to not be found, in case the project isn't C#
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/DefaultRazorDynamicFileInfoProvider.cs
Owners: @dotnet/razor-tooling
