Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler

Move LegacyTextViewConnectionListener and RazorDocumentManager to LegacyEditor project
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/IRazorDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/LegacyTextViewConnectionListener.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/RazorDocumentManager.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Properties/AssemblyInfo.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/StrictMock.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/StrictMock`1.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/RazorDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/LegacyRazorTextViewConnectionListenerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/RazorDocumentManagerTest.cs
Owners: @dotnet/razor-tooling

Move legacy completion to LegacyEditor project
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/CompletionItemDisplayTextComparer.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/IVisualStudioDescriptionFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/LegacyTagHelperCompletionService.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/PropertyCollectionExtensions.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/RazorDirectiveAttributeCommitManager.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/RazorDirectiveAttributeCommitManagerProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/RazorDirectiveAttributeCompletionSource.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/RazorDirectiveAttributeCompletionSourceProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/RazorDirectiveCompletionSource.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/RazorDirectiveCompletionSourceProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/VisualStudioDescriptionFactory.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/LegacyTagHelperCompletionServiceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/RazorDirectiveAttributeCommitManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/RazorDirectiveAttributeCompletionSourceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/RazorDirectiveCompletionSourceProviderTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/RazorDirectiveCompletionSourceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/VisualStudioDescriptionFactoryTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/ContentTypes.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/LegacyRazorTextViewConnectionListenerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/RazorDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/RazorEditorFactoryServiceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/VsMocks.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Move legacy BraceSmartIndenter to LegacyEditor project
  SpellingExclusions.dic
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/BraceSmartIndenter.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/BraceSmartIndenterFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/IBraceSmartIndenterFactory.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/BraceSmartIndenterIntegrationTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/BraceSmartIndenterTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/BraceSmartIndenterTestBase.cs
Owners: @dotnet/razor-tooling

Move RazorIndentationFacts to LegacyEditor project and reorganize tests
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.CodeDocumentWrapper.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/IRazorEditorFactoryService.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Indentation/BraceSmartIndenter.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Indentation/BraceSmartIndenterFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Indentation/IBraceSmartIndenterFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Indentation/RazorIndentationFacts.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/RazorEditorFactoryService.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/LegacyTagHelperCompletionServiceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/RazorDirectiveAttributeCommitManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/RazorDirectiveAttributeCompletionSourceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/RazorDirectiveCompletionSourceProviderTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/RazorDirectiveCompletionSourceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/VisualStudioDescriptionFactoryTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Indentation/BraceSmartIndenterIntegrationTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Indentation/BraceSmartIndenterTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Indentation/BraceSmartIndenterTestBase.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Indentation/RazorIndentationFactsTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/LegacyRazorTextViewConnectionListenerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Microsoft.VisualStudio.LegacyEditor.Razor.Test.csproj
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Parsing/RazorSyntaxTreePartialParserTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Parsing/VisualStudioRazorParserIntegrationTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Parsing/VisualStudioRazorParserTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/RazorDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/RazorEditorFactoryServiceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/TextBufferExtensionsTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/VsMocks.cs
Owners: @dotnet/razor-tooling

Move VisualStudioDocumentTracker and friends to LegacyEditor project
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.DocumentTrackerWrapper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/ContextChangeEventArgs.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/ContextChangeKind.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/EphemeralProjectSnapshot.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/IImportDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/IRazorEditorFactoryService.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/IVisualStudioDocumentTracker.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/IVisualStudioDocumentTrackerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/ImportChangedEventArgs.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/ImportDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Indentation/IBraceSmartIndenterFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Parsing/IVisualStudioRazorParserFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/RazorEditorFactoryService.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/TextContentChangedEventArgsExtensions.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/VisualStudioDocumentTracker.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/VisualStudioDocumentTrackerFactory.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/ImportDocumentManagerIntegrationTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/ImportDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/TextContentChangedEventArgsExtensionsTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/VisualStudioDocumentTrackerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/VsMocks.cs
Owners: @dotnet/razor-tooling

Move BufferGraphExtensions to LegacyEditor project
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/TextBufferExtensions.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/BufferGraphExtensions.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/TextBufferExtensions.cs
Owners: @dotnet/razor-tooling

Move ProjectPathProvider to LegacyEditor project
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/ILiveShareProjectPathProvider.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/ITextBufferProjectService.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/TextBufferProjectService.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Editor/TextBufferProjectService.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VsSolutionUpdatesProjectSnapshotChangeTrigger.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/RazorDirectiveAttributeCommitManagerProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/IProjectPathProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/ProjectPathProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/VisualStudioDocumentTrackerFactory.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/LegacyCoreContentType.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/VsSolutionUpdatesProjectSnapshotChangeTriggerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/ProjectPathProviderTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/RazorDocumentManagerTest.cs
Owners: @dotnet/razor-tooling

Seal exported types in LegacyEditor project
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/LegacyTagHelperCompletionService.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/RazorDirectiveAttributeCommitManagerProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/RazorDirectiveAttributeCompletionSourceProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/RazorDirectiveCompletionSourceProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Completion/VisualStudioDescriptionFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Indentation/BraceSmartIndenterFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/LegacyTextViewConnectionListener.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/RazorEditorFactoryService.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/VisualStudioDocumentTrackerFactory.cs
Owners: @dotnet/razor-tooling

Clean up legacy editor unit tests
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Editor_NetFx/ProjectSnapshotManagerDispatcherTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Editor_NetFx/ProjectSnapshotManagerDispatcherWorkspaceTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/LanguageServer/LanguageServerTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/ToolingTestBase.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/RazorDirectiveAttributeCommitManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/RazorDirectiveAttributeCompletionSourceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/RazorDirectiveCompletionSourceProviderTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/RazorDirectiveCompletionSourceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/ImportDocumentManagerIntegrationTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/ImportDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Indentation/BraceSmartIndenterTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Indentation/BraceSmartIndenterTestBase.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Parsing/VisualStudioRazorParserIntegrationTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Parsing/VisualStudioRazorParserTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/ProjectPathProviderTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/RazorDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/RazorEditorFactoryServiceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/TextBufferExtensionsTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/TextContentChangedEventArgsExtensionsTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/VisualStudioDocumentTrackerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/VsMocks.cs
Owners: @dotnet/razor-tooling

Add readme.md to LegacyEditor project
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/readme.md
Owners: @dotnet/razor-tooling

Move IWorkspaceEditorSettings to LegacyEditor project
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Settings/IWorkspaceEditorSettings.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Settings/WorkspaceEditorSettings.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/VisualStudioDocumentTracker.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/VisualStudioDocumentTrackerFactory.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/RazorDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Settings/WorkspaceEditorSettingsTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/VisualStudioDocumentTrackerTest.cs
Owners: @dotnet/razor-tooling

Remove unneeded project reference from ExternalAccess.LegacyEditor
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor.csproj
Owners: @dotnet/razor-tooling

Remove script for building self-contained package (#9891)
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
  src/Razor/src/rzls/rzls.csproj
Owners: @dotnet/razor-tooling

Respond to breaking changes to CLaSP
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/IServiceCollectionExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorLanguageServer.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorLanguageServerEndpointAttribute.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorRequestContextFactory.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorRequestExecutionQueue.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/RazorLanguageServerTest.cs
Owners: @dotnet/razor-tooling

Initial changes
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/DefaultWindowsRazorProjectHost.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/FallbackWindowsRazorProjectHost.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/WindowsRazorProjectHostBase.cs
Owners: @dotnet/razor-tooling

Fully uninitialize the project if the intermediate output path changes
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/DefaultWindowsRazorProjectHost.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/FallbackWindowsRazorProjectHost.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/WindowsRazorProjectHostBase.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/DefaultWindowsRazorProjectHostTest.cs
Owners: @dotnet/razor-tooling

Remove the project when we stop watching the config file
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ProjectSystem/MonitorProjectConfigurationFilePathEndpoint.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/MonitorProjectConfigurationFilePathEndpointTest.cs
Owners: @dotnet/razor-tooling

Clear generated content on project remove
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/GeneratedDocumentPublisher.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/GeneratedDocumentPublisherTest.cs
Owners: @dotnet/razor-tooling

Tweak comment to reflect reality
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/LanguageServerFeatureOptions.cs
Owners: @dotnet/razor-tooling

Allow configuring global options in the Roslyn server
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/LanguageServer/CSharpTestLspServer.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/LanguageServer/CSharpTestLspServerHelpers.cs
Owners: @dotnet/razor-tooling

Add tests for inlay hints
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/InlayHints/InlayHintEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/SingleServerDelegatingEndpointTestBase.TestLanguageServer.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/LanguageServer/CSharpTestLspServer.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/LanguageServer/CSharpTestLspServerHelpers.cs
Owners: @dotnet/razor-tooling

Add test coverage for hint resolve
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/InlayHints/InlayHintEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/SingleServerDelegatingEndpointTestBase.TestLanguageServer.cs
Owners: @dotnet/razor-tooling

Minor improvements to the endpoints, some to prepare for cohosting
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer.Protocol/DelegatedTypes.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Common/VSInternalServerCapabilitiesExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/InlayHintEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/RazorInlayHintWrapper.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/InlayHints.cs
Owners: @dotnet/razor-tooling

Extract inlay hint logic to a service
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/IInlayHintService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/InlayHintEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/InlayHintResolveEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/InlayHintService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorLanguageServer.cs
Owners: @dotnet/razor-tooling

Fix up comment (and the place it was copied from :P)
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/CohostDocumentColorEndpoint.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/CohostInlayHintEndpoint.cs
Owners: @dotnet/razor-tooling

Create cohost endpoints that use the service
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/CohostInlayHintEndpoint.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/CohostInlayHintResolveEndpoint.cs
Owners: @dotnet/razor-tooling

Allow the endpoint to work in VS Code
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/InlayHintEndpoint.cs
Owners: @dotnet/razor-tooling

Add test coverage for edits
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/InlayHintService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/InlayHints/InlayHintEndpointTest.cs
Owners: @dotnet/razor-tooling

Ensure we throw if the mapping from source to generated code doesn't match
  src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/SourceMappingsSerializer.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Move custom message name up to the right section
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Common/CustomMessageNames.cs
Owners: @dotnet/razor-tooling

Fix nullable warning
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/InlayHintService.cs
Owners: @dotnet/razor-tooling

Use inclusive mapping
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Debugging/ValidateBreakpointRangeEndpoint.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Debugging/ValidateBreakpointRangeEndpointTest.cs
Owners: @dotnet/razor-tooling

Modernize
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Common/VSInternalServerCapabilitiesExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Debugging/ValidateBreakpointRangeEndpoint.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Debugging/ValidateBreakpointRangeEndpointTest.cs
Owners: @dotnet/razor-tooling

Move method out of semantic tokens service
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/RazorCodeDocumentExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/InlayHintService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/SemanticTokensTest.cs
Owners: @dotnet/razor-tooling

Fix typo
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/DefaultWindowsRazorProjectHost.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/FallbackWindowsRazorProjectHost.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/WindowsRazorProjectHostBase.cs
Owners: @dotnet/razor-tooling

PR feedback
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/DefaultWindowsRazorProjectHost.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/FallbackWindowsRazorProjectHost.cs
Owners: @dotnet/razor-tooling

Make sure the intermediate output path has actually changed
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/DefaultWindowsRazorProjectHost.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/FallbackWindowsRazorProjectHost.cs
Owners: @dotnet/razor-tooling

PR feedback
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Hover/HoverEndpoint.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Extensions/RazorCohostRequestContextExtensions.cs
Owners: @dotnet/razor-tooling

🤦‍♂️
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/DefaultWindowsRazorProjectHost.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/FallbackWindowsRazorProjectHost.cs
Owners: @dotnet/razor-tooling

Fix MEF error
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/CohostInlayHintResolveEndpoint.cs
Owners: @dotnet/razor-tooling
