Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

Make the source span in tests have non-default values to ensure they get mapped too
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/DesignTimeNodeWriterTest.cs
Owners: @dotnet/razor-compiler

Ensure we include the line count and end char index in remapped spans (#9863)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriterExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/DesignTimeNodeWriterTest.cs
Owners: @dotnet/razor-compiler

Add missing source mappings for runtime documents
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/RuntimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentRuntimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/DefaultTagHelperTargetExtension.cs
Owners: @dotnet/razor-compiler

Restoring usage of LocateOwner in legacy-only completion scenarios (#9877) (#9879)
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Completion/RazorDirectiveAttributeCompletionSource.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Completion/RazorDirectiveCompletionSource.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/Completion/RazorDirectiveCompletionSourceTest.cs
Owners: @dotnet/razor-tooling

Add back clarifying parentheses in a couple of cases
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/LspTagHelperCompletionService.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DynamicFiles/RazorSpanMappingService.cs
Owners: @dotnet/razor-tooling

Move calculations outside of loop
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DynamicFiles/RazorSpanMappingService.cs
Owners: @dotnet/razor-tooling

Add missing SDK dependency to global.json
  global.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Replace IDynamicDocumentContainer.SupportsDiagnostics setter with method
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DynamicFiles/DefaultDynamicDocumentContainer.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DynamicFiles/IDynamicDocumentContainer.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DynamicFiles/RazorDocumentServiceProvider.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DynamicFiles/RazorDynamicFileInfoProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/CSharpVirtualDocumentPublisher.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/RazorDynamicFileInfoProviderTest.cs
Owners: @dotnet/razor-tooling

Ensure we include the line count and end char index in remapped spans (#9863)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriterExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/DesignTimeNodeWriterTest.cs
Owners: @dotnet/razor-compiler

Ensure we include the line count and end char index in remapped spans (#9863) (#9887)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriterExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/DesignTimeNodeWriterTest.cs
Owners: @dotnet/razor-compiler

Don't export ProjectPathProvider as a Roslyn workspace service
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultProjectPathProvider.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultProjectPathProviderFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioDocumentTrackerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioDocumentTrackerFactoryFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/ILiveShareProjectPathProvider.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/IProjectPathProvider.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/ProjectPathProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LiveShare.Razor/Guest/GuestProjectPathProvider.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/ProjectPathProviderTest.cs
Owners: @dotnet/razor-tooling

Don't export ImportDocumentManager as a Roslyn language service
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultImportDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultImportDocumentManagerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioDocumentTracker.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioDocumentTrackerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioDocumentTrackerFactoryFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/IImportDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/ImportChangedEventArgs.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/ImportDocumentManager.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultRazorDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultVisualStudioDocumentTrackerTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/ImportDocumentManagerIntegrationTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/ImportDocumentManagerTest.cs
Owners: @dotnet/razor-tooling

Don't export FileChangeTrackerFactory as a Roslyn workspace service
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultImportDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultImportDocumentManagerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/DefaultFileChangeTracker.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/DefaultFileChangeTrackerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/EditorDocument.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/EditorDocumentManagerBase.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/FileChangeTracker.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/IFileChangeTracker.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/IFileChangeTrackerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Documents/VisualStudioEditorDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Documents/VisualStudioEditorDocumentManagerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Documents/VisualStudioFileChangeTracker.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Documents/VisualStudioFileChangeTrackerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Documents/VisualStudioFileChangeTrackerFactoryFactory.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultImportDocumentManagerIntegrationTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultImportDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/Documents/EditorDocumentManagerBaseTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/Documents/EditorDocumentManagerListenerTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/Documents/EditorDocumentTest.cs
Owners: @dotnet/razor-tooling

Don't export VisualStudioDocumentTrackerFactory as a Roslyn language service
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.DocumentTrackerWrapper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/BraceSmartIndenter.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultBraceSmartIndenterFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultRazorDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultRazorEditorFactoryService.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioDocumentTracker.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioDocumentTrackerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioDocumentTrackerFactoryFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioRazorParser.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioRazorParserFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/IImportDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/IVisualStudioDocumentTracker.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/IVisualStudioDocumentTrackerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/ImportDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/RazorEditorFactoryService.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/VisualStudioDocumentTracker.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/VisualStudioDocumentTrackerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/VisualStudioRazorParserFactory.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/BraceSmartIndenterTestBase.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultRazorDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultRazorEditorFactoryServiceTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultVisualStudioRazorParserIntegrationTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultVisualStudioRazorParserTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/ImportDocumentManagerIntegrationTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/ImportDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/VisualStudioDocumentTrackerTest.cs
Owners: @dotnet/razor-tooling

Convert RazorDocumentManager to interface
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultRazorDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/IRazorDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/RazorDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/RazorTextViewConnectionListener.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/RazorDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/RazorTextViewConnectionListenerTest.cs
Owners: @dotnet/razor-tooling

Convert RazorEditorFactoryService to interface
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorServices.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.EditorFactoryServiceWrapper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultRazorEditorFactoryService.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/IRazorEditorFactoryService.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/LegacyTextViewConnectionListener.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/RazorDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/RazorEditorFactoryService.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/LegacyRazorTextViewConnectionListenerTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/RazorDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/RazorEditorFactoryServiceTest.cs
Owners: @dotnet/razor-tooling

Replace TextBufferCodeDocumentProvider with extension method
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/BraceSmartIndenter.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultBraceSmartIndenterFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultBraceSmartIndenterFactoryFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultTextBufferCodeDocumentProvider.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioRazorParser.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/TextBufferCodeDocumentProvider.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/TextBufferExtensions.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/BraceSmartIndenterIntegrationTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/BraceSmartIndenterTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/BraceSmartIndenterTestBase.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultTextBufferCodeDocumentProviderTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/TextBufferExtensionsTest.cs
Owners: @dotnet/razor-tooling

Don't export BraceSmartIndenterFactory as a Roslyn language service
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/BraceSmartIndenter.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/BraceSmartIndenterFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultBraceSmartIndenterFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultBraceSmartIndenterFactoryFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/IBraceSmartIndenterFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/RazorEditorFactoryService.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/BraceSmartIndenterIntegrationTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/BraceSmartIndenterTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/RazorEditorFactoryServiceTest.cs
Owners: @dotnet/razor-tooling

Remove explicit SDK version - will use version from global.json
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators.Transport/Microsoft.NET.Sdk.Razor.SourceGenerators.Transport.csproj
Owners: @dotnet/razor-compiler

Don't export EditorDocumentManager as a Roslyn IWorkspaceService
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/EditorDocument.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/EditorDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/EditorDocumentManagerBase.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/EditorDocumentManagerListener.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/IEditorDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Documents/RunningDocumentTableEventSink.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Documents/VisualStudioEditorDocumentManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Documents/VisualStudioEditorDocumentManagerFactory.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/Documents/EditorDocumentManagerListenerTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/Documents/EditorDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/Documents/EditorDocumentTest.cs
Owners: @dotnet/razor-tooling

Remove unused RazorIndentationFactsService
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultRazorIndentationFactsService.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/RazorIndentationFactsService.cs
Owners: @dotnet/razor-tooling

Remove unused VisualStudioWorkspaceAccessor service
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/DefaultVisualStudioWorkspaceAccessor.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/Debugging/DefaultRazorProximityExpressionResolverTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/DefaultVisualStudioWorkspaceAccessorTest.cs
Owners: @dotnet/razor-tooling

Normalize MEF attributes in VS assemblies
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Logging/RazorLoggerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/AggregateProjectCapabilityResolver.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/BackgroundDocumentGenerator.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Completion/RazorDirectiveAttributeCommitManagerProvider.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Completion/RazorDirectiveAttributeCompletionSourceProvider.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Completion/RazorDirectiveCompletionSourceProvider.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Completion/VisualStudioDescriptionFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/RazorCodeDocumentProvidingSnapshotChangeTrigger.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/LspServerActivationTracker.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetCache.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/VSTelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/VisualStudioWorkspaceAccessor.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ActivityLogRazorLogger.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Editor/DefaultTextBufferProjectService.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Logging/OutputWindowLoggerProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Logging/VisualStudioWindowsLogHubTraceProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioProjectSnapshotManagerAccessor.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioSolutionCloseChangeTrigger.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioWindowsDocumentInteractionManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioWindowsLSPEditorFeatureDetector.cs
  src/Razor/src/Microsoft.VisualStudio.LiveShare.Razor/Guest/DefaultLiveShareSessionAccessor.cs
  src/Razor/src/Microsoft.VisualStudio.LiveShare.Razor/Guest/DefaultProxyAccessor.cs
Owners: @dotnet/razor-tooling

The best thing to do with a hack that doesn't work, is lean in to the hackiness inherent in the system.
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/IProjectSnapshotExtensions.cs
Owners: @dotnet/razor-tooling

Add inlayHintResolve support
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer.Protocol/DelegatedTypes.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Common/CustomMessageNames.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/InlayHintEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/InlayHintResolveEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/RazorInlayHintWrapper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorLanguageServer.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/InlayHints.cs
Owners: @dotnet/razor-tooling

Add textDocument/inlayHints support
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer.Protocol/DelegatedTypes.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Common/CustomMessageNames.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlayHints/InlayHintEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorLanguageServer.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/InlayHints.cs
Owners: @dotnet/razor-tooling

Remove script for building self-contained package
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
  src/Razor/src/rzls/rzls.csproj
Owners: @dotnet/razor-tooling

Change targets file to use Publish target
  eng/AfterSolutionBuild.targets
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Include TargetFramework
  eng/AfterSolutionBuild.targets
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Add missing comma
  global.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

undo - all changes to start over
  eng/AfterSolutionBuild.targets
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
  src/Razor/src/rzls/rzls.csproj
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Redo
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
  src/Razor/src/rzls/rzls.csproj
Owners: @dotnet/razor-tooling

Code cleanup
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
  src/Razor/src/rzls/rzls.csproj
Owners: @dotnet/razor-tooling

Move SB metadata to intermediates
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fixed naming of intermediates in Versions.props
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Only setting SelfContained to false
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
  src/Razor/src/rzls/rzls.csproj
Owners: @dotnet/razor-tooling

Move SB metadata to intermediates (#9893)
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Prepare 17.10 snap
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Add MS.VS.LegacyEditor.Razor and MS.VS.LegacyEditor.Razor.Test projects
  Razor.sln
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor.csproj
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Microsoft.VisualStudio.LegacyEditor.Razor.csproj
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/PublicAPI/PublicAPI.Shipped.txt
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/PublicAPI/PublicAPI.Unshipped.txt
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/SR.resx
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.cs.xlf
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.de.xlf
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.es.xlf
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.fr.xlf
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.it.xlf
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.ja.xlf
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.ko.xlf
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.pl.xlf
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.pt-BR.xlf
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.ru.xlf
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.tr.xlf
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.zh-Hans.xlf
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Resources/xlf/SR.zh-Hant.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.csproj
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/source.extension.vsixmanifest
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Microsoft.VisualStudio.LegacyEditor.Razor.Test.csproj
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/xunit.runner.json
Owners: @dotnet/razor-tooling

Move IRazorEditorFactoryService to LegacyEditor project
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorServices.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.EditorFactoryServiceWrapper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/IRazorEditorFactoryService.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.VisualStudio.LegacyEditor.Razor/RazorEditorFactoryService.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/ContentTypes.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/RazorDocumentManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/RazorEditorFactoryServiceTest.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Properties/AssemblyInfo.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler
