Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler

Change threading in SnippetService
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
Owners: @dotnet/razor-tooling

Spelling is hard
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
Owners: @dotnet/razor-tooling

Add a test to demonstrate the current behaviour
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.mappings.txt
Owners: @dotnet/razor-compiler

Separate out logic for issuing diagnostics and removing the offending node
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentComplexAttributeContentPass.cs
Owners: @dotnet/razor-compiler

Handle special case for incomplete typing
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentComplexAttributeContentPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_ComplexContentInAttribute/TestComponent.mappings.txt
Owners: @dotnet/razor-compiler

Patterns!
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentComplexAttributeContentPass.cs
Owners: @dotnet/razor-compiler

Insert Razor 17.8 into VS 17.8
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Insert Razor 17.8 into VS 17.8 (#9347)
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix VS branch name
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix VS branch name (#9349)
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Remove fallback for RazorDiagnosticDescriptor to allow null message format
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorDiagnostic.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorDiagnosticDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Resources.resx
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorDiagnosticDescriptorTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorDiagnosticTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/CSharp/DefaultCSharpCodeActionProviderTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/CSharp/TypeAccessibilityCodeActionProviderTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/Razor/ComponentAccessibilityCodeActionProviderTest.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Remove usings
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/XmlSnippetParser.cs
Owners: @dotnet/razor-tooling

Enable navbar
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentSymbol/DocumentSymbolEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ProjectContexts/ProjectContextsEndpoint.cs
Owners: @dotnet/razor-tooling

Enable navbar (#9353)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentSymbol/DocumentSymbolEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ProjectContexts/ProjectContextsEndpoint.cs
Owners: @dotnet/razor-tooling

Update src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
Owners: @dotnet/razor-tooling

Remove VSSemanticTokensResponse
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/VSSemanticTokensResponse.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

Fix pattern matching to avoid IndexOutOfRangeException
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/FilePathNormalizer.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.ProjectEngineHost.Test/FilePathNormalizerTest.cs
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2283670
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.cs.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.es.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.it.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Cleanup
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/RazorSnippetCompletionParams.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
Owners: @dotnet/razor-tooling

Remap pragma lines on windows - Add an option to remap pragma file paths when on windows - Replace slashes when option is true, and on windows - Turn option on for Razor + LSP editors
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriterExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorCodeGenerationOptions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorCodeGenerationOptionsBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorCodeGenerationOptions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorCodeGenerationOptionsBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/DesignTimeNodeWriterTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Microsoft.AspNetCore.Razor.Language.Test.csproj
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RemoteProjectSnapshotProjectEngineFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioRazorParser.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

API checker
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
Owners: @dotnet/razor-compiler

Fix resolve for snippets
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/CompletionListMerger.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/Delegation/DelegatedCompletionItemResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/VSInternalCompletionListExtensions.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetCache.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetInfo.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/XmlSnippetParser.ParsedXmlSnippet.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
Owners: @dotnet/razor-tooling

STEP 1:
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/RazorSemanticTokensLegend.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/TagHelperSemanticRangeVisitor.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/EmbeddedGrammars/aspnetcorerazor.tmLanguage.tmTheme
Owners: @dotnet/razor-tooling

add an integration test
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/CompletionIntegrationTests.cs
Owners: @dotnet/razor-tooling

Remove VSSemanticTokensResponse (#9355)
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/VSSemanticTokensResponse.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

Add a test
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/LinePragma_Multiline/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/LinePragma_Multiline/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/LinePragma_Multiline/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/LinePragma_Multiline/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/LinePragma_Multiline/TestComponent.ir.txt
Owners: @dotnet/razor-compiler

Use 1-based character indices
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriterExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/LinePragma_Multiline/TestComponent.codegen.cs
Owners: @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2284244
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ja.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2284244
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.pt-BR.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ru.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.tr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.zh-Hans.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Compare snippet texts in line mapping tests
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorComponentTests.cs
Owners: @dotnet/razor-compiler

Add baselines for line mapping tests
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorComponentTests.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/TestFiles/RazorSourceGeneratorComponentTests/LineMapping/Shared_Component1_razor.g.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/TestFiles/RazorSourceGeneratorComponentTests/LineMapping_Tabs/Shared_Component1_razor.g.cs
Owners: @dotnet/razor-compiler

Disable failing tests for now
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorComponentTests.cs
Owners: @dotnet/razor-compiler

Suppress a warning
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/Checksum.cs
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2284598
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.de.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2284598
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.pl.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.zh-Hant.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Rename Checksum.cs to ChecksumUtilities.cs and use pooled StringBuilder
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/Microsoft.AspNetCore.Mvc.Razor.Extensions.csproj
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/MvcViewDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/RazorPageDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/ChecksumUtilities.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/DefaultDocumentWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/DefaultTagHelperTargetExtension.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/MetadataAttributeTargetExtension.cs
Owners: @dotnet/razor-compiler

Move Checksum to Utilities.Shared
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/Checksum.Builder.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/Checksum.HashData.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/Checksum.IncrementalHashPoolPolicy.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/Checksum.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Move HashAlgorithmOperations to the MS.ANC.Razor.Utilties namespace
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/LargeTextSourceDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorSourceDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/StreamSourceDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/StringSourceDocument.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntermediateNodeWriter.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/HashAlgorithmOperations.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Add shared pool for IncrementalHash
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/Extensions.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/IncrementalHashPool.Policy.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/IncrementalHashPool.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/Checksum.Builder.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/Checksum.IncrementalHashPoolPolicy.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Add checksum to MetadataCollection
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/MetadataCollection.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/MetadataCollectionTests.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/ChecksumExtensions.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling
