Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler

Convert TagHelperInfo to positional record
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperInfo.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMode.cs
Owners: @dotnet/razor-compiler

Avoid linear lookups of allowed tag helper children in TagHelperParseTreeRewriter
  src/Compiler/Microsoft.AspNetCore.Razor.Language/legacyTest/Legacy/TagHelperParseTreeRewriterTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperParseTreeRewriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/TagHelperParseTreeRewriterTest.cs
Owners: @dotnet/razor-compiler

Fix warning for possible null reference
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/TelemetryReporterTests.cs
Owners: @dotnet/razor-tooling

Null-annotate TagHelperParseTreeRewriter
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperParseTreeRewriter.cs
Owners: @dotnet/razor-compiler

Apply PR feedback
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/TelemetryReporterTests.cs
Owners: @dotnet/razor-tooling

Skip reporting fault when the inner-most exception is OperationCanceledException (#9922)
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/TelemetryReporter.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/TelemetryReporterTests.cs
Owners: @dotnet/razor-tooling

Update SHAs in Version.Details.xml
  eng/Version.Details.xml
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Use a mock instead of a test implementation
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/DefaultLSPRequestInvokerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/TestLanguageServiceBroker.cs
Owners: @dotnet/razor-tooling

Pr feedback
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriterExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/RouteAttributeExtensionNode.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/DesignTimeDirectivePass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/MetadataAttributeTargetExtension.cs
Owners: @dotnet/razor-compiler

Fix merge
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Seal record class
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperInfo.cs
Owners: @dotnet/razor-compiler

Deal with obsolete
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/DefaultLSPRequestInvoker.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/MessageInterception/InterceptionMiddleLayer.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorLanguageClientMiddleLayer.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorLanguageServerClient.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/DefaultLSPRequestInvokerTest.cs
Owners: @dotnet/razor-tooling

Don't git and build in VS
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension_atxpjq35_wpftmp.csproj
Owners: @dotnet/razor-tooling

Update LegacyEditor shim API for nullability
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/IRazorTagHelperDocumentContext.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/InternalAPI.Unshipped.txt
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.TagHelperDocumentContextWrapper.cs
Owners: @dotnet/razor-tooling

Reformat collection expressions into one-liners
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/LanguageServerTagHelperCompletionServiceTest.cs
  src/Razor/test/Microsoft.VisualStudio.LegacyEditor.Razor.Test/Completion/LegacyTagHelperCompletionServiceTest.cs
Owners: @dotnet/razor-tooling

WhereAsArray(...) should exit quickly for empty arrays
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/ImmutableArrayExtensions.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Remove TagHelperBinding.GetBoundRules(...)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperBinding.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.TagHelperBindingWrapper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/AutoInsert/AutoClosingTagOnAutoInsertProvider.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Move PooledArrayBuilder outside of loop
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperBinder.cs
Owners: @dotnet/razor-compiler

Reformat logic in TagHelperBinder and avoid boxing another struct enumerator
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperBinder.cs
Owners: @dotnet/razor-compiler

Use collection expression over direct array copying
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/MarkupTagHelperElementSyntax.cs
Owners: @dotnet/razor-compiler

Remove custom CodeMapper types (#9910)
  eng/Versions.props
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ClientConnection.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/LinkedEditingRange/LinkedEditingRangeEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/MapCodeEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/Protocol/MapperMethods.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/Protocol/VSInternalMapCodeMapping.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/Protocol/VSInternalMapCodeParams.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/DefaultLSPRequestInvoker.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/MessageInterception/InterceptionMiddleLayer.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/MapCode.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorLanguageClientMiddleLayer.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorLanguageServerClient.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/MapCode/MapCodeTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/DefaultLSPRequestInvokerTest.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Enable mapcode in server capabilities
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Common/VSInternalServerCapabilitiesExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/MapCodeEndpoint.cs
Owners: @dotnet/razor-tooling

Change registration
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorLanguageServer.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/MapCode/MapCodeTest.cs
Owners: @dotnet/razor-tooling

Update to new VS LanguageServerClient bits
  eng/Versions.props
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/DefaultLSPRequestInvoker.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/InternalAPI.Unshipped.txt
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/LSPRequestInvoker.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/MessageInterception/DefaultInterceptorManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/MessageInterception/InterceptionMiddleLayer2.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/MessageInterception/InterceptionResult.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/MessageInterception/InterceptorManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/MessageInterception/MessageInterceptor.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/PublicAPI.Shipped.txt
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/PublicAPI.Unshipped.txt
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/ReinvocationResponse.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServer.ContainedLanguage/ReinvokeResponse.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Debugging/DefaultLSPBreakpointSpanProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Debugging/DefaultLSPProximityExpressionsProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/DefaultRazorLanguageClientMiddleLayer.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/DocumentMapping/DefaultLSPDocumentMappingProvider.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/CodeActions.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/DocumentColor.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/FoldingRange.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/FormatNewFile.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/MapCode.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SimplifyMethod.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SpellCheck.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorCSharpInterceptionMiddleLayer.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorCSharpSemanticTokensInterceptor.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorLanguageClientMiddleLayer.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/WorkspaceConfigurationChangedListener.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test/MessageInterception/DefaultInterceptionManagerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServer.ContainedLanguage.Test/MessageInterception/InterceptionMiddleLayerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/DefaultLSPRequestInvokerTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/DocumentMapping/DefaultLSPDocumentMappingProviderTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/TestLSPRequestInvoker.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Enable mapcode in server capabilities (#9939)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Common/VSInternalServerCapabilitiesExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/MapCodeEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorLanguageServer.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/MapCode/MapCodeTest.cs
Owners: @dotnet/razor-tooling

Update tooling benchmarks to target net8.0 toolchain by default
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/Program.cs
Owners: @dotnet/razor-tooling

Tooling benchmark should only target latest .NET and NetFx
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks.csproj
Owners: @dotnet/razor-tooling

Rename file to better match its purpose
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/SemanticTokensVisitor.cs
Owners: @dotnet/razor-tooling

Update aspnetcorerazor.tmLanguage.json
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/EmbeddedGrammars/aspnetcorerazor.tmLanguage.json
Owners: @dotnet/razor-tooling

Rename legend -> tokenTypes
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/SemanticTokensVisitor.cs
Owners: @dotnet/razor-tooling

Rename method
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/RazorSemanticTokensLegend.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/RazorSemanticTokensLegendService.Modifiers.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/RazorSemanticTokensLegendService.Types.cs
Owners: @dotnet/razor-tooling

Add TagHelperCompletionBenchmark
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/LanguageServer/TagHelperCompletionBenchmark.cs
Owners: @dotnet/razor-tooling

Update runtime parsing for using declarations: - Dont include whitespace and newlines as part of the declaration in runtime code - Track if a using declaration included an explicit semicolon
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Intermediate/UsingDirectiveIntermediateNode.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/AddImportChunkGenerator.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpCodeParser.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
Owners: @dotnet/razor-compiler

Add missing source mappings for runtime usings Write out the semicolon if the user didn't explicitly provide it
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/RuntimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentRuntimeNodeWriter.cs
Owners: @dotnet/razor-compiler

Remove IVTs for MS.VS.LiveShare.Razor
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Properties/AssemblyInfo.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Properties/AssemblyInfo.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Properties/AssemblyInfo.cs
  src/Shared/Microsoft.AspNetCore.Razor.Test.Common/Properties/AssemblyInfo.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Properties/AssemblyInfo.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Update aspnetcorerazor.tmLanguage.json (#9943)
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/EmbeddedGrammars/aspnetcorerazor.tmLanguage.json
Owners: @dotnet/razor-tooling

More baselines
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpBlockTest/CapturesNewlineAfterUsing.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpBlockTest/CapturesNewlineAfterUsing.stree.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpBlockTest/DoesntCaptureWhitespaceAfterUsing.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpBlockTest/DoesntCaptureWhitespaceAfterUsing.stree.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpBlockTest/HasErrorsIfNamespaceAliasMissingSemicolon.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpBlockTest/HasErrorsIfNamespaceAliasMissingSemicolon.stree.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpBlockTest/HasErrorsIfNamespaceImportMissingSemicolon.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpBlockTest/HasErrorsIfNamespaceImportMissingSemicolon.stree.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpBlockTest/ParsesNamespaceAliasWithSemicolonForUsingKeywordIfIsInValidFormat.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpBlockTest/ParsesNamespaceAliasWithSemicolonForUsingKeywordIfIsInValidFormat.stree.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpBlockTest/ParsesNamespaceImportWithSemicolonForUsingKeywordIfIsInValidFormat.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpBlockTest/ParsesNamespaceImportWithSemicolonForUsingKeywordIfIsInValidFormat.stree.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/StaticUsing_Complete_Spaced.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/StaticUsing_Complete_Spaced.stree.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/StaticUsing_GlobalPrefix.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/StaticUsing_GlobalPrefix.stree.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/StaticUsing_MultipleIdentifiers.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/StaticUsing_MultipleIdentifiers.stree.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/StaticUsing_NoUsing.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/StaticUsing_NoUsing.stree.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/StaticUsing_SingleIdentifier.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/StaticUsing_SingleIdentifier.stree.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/UsingNamespaceImport.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/UsingNamespaceImport.stree.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/UsingTypeAlias.cspans.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/CSharpStatementTest/UsingTypeAlias.stree.txt
Owners: @dotnet/razor-compiler

Update find node tests to match updated parse tree
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/FindNodeTests.cs
Owners: @dotnet/razor-tooling

Simplify test code
  src/Compiler/Microsoft.AspNetCore.Razor.Language/legacyTest/Legacy/TagHelperParseTreeRewriterTest.cs
Owners: @dotnet/razor-compiler

Remove LiveShare projects from Razor.Slim.slnf
  Razor.Slim.slnf
Owners: none
