Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

Don't crash if there are diagnostics without spans
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/SourceSpanExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/RazorFormattingService.cs
Owners: @dotnet/razor-tooling

Delete added project and link files instead
  Razor.sln
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Logging/DevKitTelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Microsoft.VisualStudio.Editor.Razor.csproj
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/NullTelemetryScope.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/TelemetryHelpers.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/TelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/TelemetryScope.cs
  src/Razor/src/Microsoft.VisualStudio.Telemetry.Razor/Microsoft.VisualStudio.Telemetry.Razor.csproj
  src/Razor/src/Microsoft.VisualStudio.Telemetry.Razor/Properties/AssemblyInfo.cs
Owners: @dotnet/razor-tooling

Move around file
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/DevKitTelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
Owners: @dotnet/razor-tooling

Cleanup
  src/Shared/LanguageSupport/IsExternalInit.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Properties/AssemblyInfo.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Expose internal
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Properties/AssemblyInfo.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Use a binary search when trying to find source mappings
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/LanguageServer/RazorDocumentMappingBenchmark.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorDocumentMappingService.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/ArrayExtensions.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Bump version to 8 (#9258)
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Use pattern matching
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/ViewCssScopePass.cs
Owners: @dotnet/razor-compiler

Merge DefaultBoundAttributeDescriptor and builder
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorComparer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultBoundAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultBoundAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagHelperDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagHelperDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDiagnostics.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperMatchingConventions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/BoundAttributeDescriptorExtensionsTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/BoundAttributeDescriptorTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultBoundAttributeDescriptorBuilderTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Extensions/PreallocatedAttributeTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TagHelperMatchingConventionsTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/BindTagHelperDescriptorProviderTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/DefaultTagHelperDescriptorFactoryTest.cs
  src/Compiler/shared/TagHelperDescriptorJsonConverter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.BoundAttributeDescriptorWrapper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectReaders.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectWriters.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/TagHelpers/AllowChildTagFormatter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/TagHelpers/BoundAttributeFormatter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/TagHelpers/BoundAttributeParameterFormatter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/ChecksumExtensions.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/DirectiveAttributeCompletionItemProvider.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/DirectiveAttributeParameterCompletionItemProvider.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/LanguageServerTagHelperCompletionService.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/LegacyTagHelperCompletionService.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Tooltip/BoundAttributeDescriptionInfo.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Merge DefaultRequiredAttributeDescriptor and builder
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRequiredAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRequiredAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagMatchingRuleDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagMatchingRuleDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDiagnostics.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperObject.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRequiredAttributeDescriptorBuilderTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TagHelperMatchingConventionsTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/DefaultTagHelperDescriptorFactoryTest.cs
  src/Compiler/shared/TagHelperDescriptorJsonConverter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectReaders.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/TagHelpers/RequiredAttributeFormatter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/ChecksumExtensions.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Merge DefaultTagMatchingRuleDescriptor and builder
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagHelperDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagHelperDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagMatchingRuleDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagMatchingRuleDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDiagnostics.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperPooledObjectPolicy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRequiredAttributeDescriptorBuilderTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TagHelperMatchingConventionsTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/DefaultTagHelperDescriptorFactoryTest.cs
  src/Compiler/shared/TagHelperDescriptorJsonConverter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectReaders.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/TagHelpers/TagMatchingRuleFormatter.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Merge DefaultTagHelperDescriptor and builder
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagHelperDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagHelperDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorBuilder.PooledBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorBuilder_Pooling.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDiagnostics.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperObject.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/BoundAttributeDescriptorExtensionsTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/BoundAttributeDescriptorTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultBoundAttributeDescriptorBuilderTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRequiredAttributeDescriptorBuilderTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Extensions/PreallocatedAttributeTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TagHelperDescriptorComparerTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TagHelperMatchingConventionsTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/DefaultTagHelperDescriptorFactoryTest.cs
  src/Compiler/shared/TagHelperDescriptorJsonConverter.cs
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/Remote/RemoteTagHelperDeltaProviderBenchmark.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectReaders.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/TagHelpers/TagHelperFormatter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/ChecksumExtensions.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.ProjectEngineHost.Test/TagHelperDescriptorCacheTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorProjectInfoPublisherTest.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Revert "Bump version to 8 (#9258)"
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix typos in comments
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.AllTagHelpers.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.cs
Owners: @dotnet/razor-compiler

Fix indentation
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.cs
Owners: @dotnet/razor-compiler

Ensure that we check for both null and empty lists
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.AllTagHelpers.cs
Owners: @dotnet/razor-compiler

Add debug assert to verify that compilation.References works as we expect
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.cs
Owners: @dotnet/razor-compiler

Revert "Bump version to 8 (#9258)" (#9298)
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Ensure that tag helpers aren't collected if there aren't any providers
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/StaticCompilationTagHelperFeature.cs
Owners: @dotnet/razor-compiler

Add NonCopyableAttribute and AsRef() extension method for PooledArrayBuilder<T>
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxNode.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledArrayBuilderExtensions.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledArrayBuilder`1.Enumerator.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledArrayBuilder`1.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/NonCopyableAttribute.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Add analyzer to enforce use of PooledArrayBuilder<T>.AsRef() with using statements
  Razor.Slim.slnf
  Razor.sln
  eng/Versions.props
  src/Compiler/Directory.Build.props
  src/Razor/Directory.Build.props
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.csproj
  src/Shared/Directory.Build.props
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledArrayBuilderExtensions.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledArrayBuilder`1.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Properties/AssemblyInfo.cs
  src/Shared/Razor.Diagnostics.Analyzers.Test/PooledArrayBuilderAsRefAnalyzerTests.cs
  src/Shared/Razor.Diagnostics.Analyzers.Test/Razor.Diagnostics.Analyzers.Test.csproj
  src/Shared/Razor.Diagnostics.Analyzers.Test/Verifiers/CSharpAnalyzerVerifier`1+Test.cs
  src/Shared/Razor.Diagnostics.Analyzers.Test/Verifiers/CSharpAnalyzerVerifier`1.cs
  src/Shared/Razor.Diagnostics.Analyzers.Test/Verifiers/CSharpVerifierHelper.cs
  src/Shared/Razor.Diagnostics.Analyzers/DiagnosticCategory.cs
  src/Shared/Razor.Diagnostics.Analyzers/DiagnosticIds.cs
  src/Shared/Razor.Diagnostics.Analyzers/Extensions.cs
  src/Shared/Razor.Diagnostics.Analyzers/GlobalSuppressions.cs
  src/Shared/Razor.Diagnostics.Analyzers/PooledArrayBuilderAsRefAnalyzer.cs
  src/Shared/Razor.Diagnostics.Analyzers/Razor.Diagnostics.Analyzers.csproj
  src/Shared/Razor.Diagnostics.Analyzers/Resources.cs
  src/Shared/Razor.Diagnostics.Analyzers/Resources.resx
  src/Shared/Razor.Diagnostics.Analyzers/WellKnownTypeNames.cs
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.cs.xlf
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.de.xlf
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.es.xlf
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.fr.xlf
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.it.xlf
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.ja.xlf
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.ko.xlf
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.pl.xlf
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.pt-BR.xlf
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.ru.xlf
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.tr.xlf
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Shared/Razor.Diagnostics.Analyzers/xlf/Resources.zh-Hant.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Apply code review feedback
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/EnumerableExtensions.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/Extensions.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledArrayBuilder`1.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

First bit of review feedback
  Razor.Slim.slnf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Exports/AssemblyLoadContextWrapper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Exports/ExportProviderBuilder.cs
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
  src/Razor/src/rzls/Program.cs
Owners: @dotnet/razor-tooling

Fix typo in Razor.Slim.slnf
  Razor.Slim.slnf
Owners: none

Fix a few issues with analyzers and PooledArrayBuilder<T>
  Razor.sln
  src/Compiler/Directory.Build.props
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxNode.cs
  src/Razor/Directory.Build.props
  src/Shared/Directory.Build.props
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/Extensions.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledArrayBuilder`1.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Remove unused using
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/Extensions.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix Versions.props
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Don't add analyzer reference to API shims
  Razor.Slim.slnf
  src/Razor/Directory.Build.props
Owners: @dotnet/razor-tooling

Move analyzers into separate solution
  Razor.sln
  eng/AfterSolutionBuild.targets
  eng/Build.props
  src/Analyzers/Analyzers.sln
  src/Analyzers/Directory.Build.props
  src/Analyzers/Razor.Diagnostics.Analyzers.Test/PooledArrayBuilderAsRefAnalyzerTests.cs
  src/Analyzers/Razor.Diagnostics.Analyzers.Test/Razor.Diagnostics.Analyzers.Test.csproj
  src/Analyzers/Razor.Diagnostics.Analyzers.Test/Verifiers/CSharpAnalyzerVerifier`1+Test.cs
  src/Analyzers/Razor.Diagnostics.Analyzers.Test/Verifiers/CSharpAnalyzerVerifier`1.cs
  src/Analyzers/Razor.Diagnostics.Analyzers.Test/Verifiers/CSharpVerifierHelper.cs
  src/Analyzers/Razor.Diagnostics.Analyzers/DiagnosticCategory.cs
  src/Analyzers/Razor.Diagnostics.Analyzers/DiagnosticIds.cs
  src/Analyzers/Razor.Diagnostics.Analyzers/Extensions.cs
  src/Analyzers/Razor.Diagnostics.Analyzers/GlobalSuppressions.cs
  src/Analyzers/Razor.Diagnostics.Analyzers/PooledArrayBuilderAsRefAnalyzer.cs
  src/Analyzers/Razor.Diagnostics.Analyzers/Razor.Diagnostics.Analyzers.csproj
  src/Analyzers/Razor.Diagnostics.Analyzers/Resources.cs
  src/Analyzers/Razor.Diagnostics.Analyzers/Resources.resx
  src/Analyzers/Razor.Diagnostics.Analyzers/WellKnownTypeNames.cs
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.zh-Hant.xlf
  src/Compiler/Directory.Build.props
  src/Razor/Directory.Build.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Bump to RC1
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Remove the warning completely
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentDiagnosticFactory.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentFormNameLoweringPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_FakeSubmit/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_FakeSubmit/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_FakeSubmit/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_FakeSubmit/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_MissingSubmit/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_MissingSubmit/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_MissingSubmit/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_MissingSubmit/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_MissingUsing/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_MissingUsing/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_MissingUsing/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_MissingUsing/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_FakeSubmit/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_FakeSubmit/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_FakeSubmit/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_MissingSubmit/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_MissingSubmit/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_MissingSubmit/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_MissingUsing/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_MissingUsing/TestComponent.diagnostics.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_MissingUsing/TestComponent.ir.txt
Owners: @dotnet/razor-compiler

Update ASP.NET Core runtime used in tests to v8 (#9047)
  eng/Versions.props
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/Microsoft.NET.Sdk.Razor.SourceGenerators.Test.csproj
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorComponentTests.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Remove over-paranoid check for compilation with no reference
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.cs
Owners: @dotnet/razor-compiler

A few tweaks from code review feedback
  Razor.Slim.slnf
  eng/Build.props
  src/Analyzers/Razor.Diagnostics.Analyzers/PooledArrayBuilderAsRefAnalyzer.cs
  src/Shared/Directory.Build.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Use project references for analyzers
  BuildAnalyzers.sln
  Razor.Slim.slnf
  Razor.sln
  eng/AfterSolutionBuild.targets
  eng/Build.props
  src/Compiler/Directory.Build.props
  src/Razor/Directory.Build.props
  src/Shared/Directory.Build.props
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Properties/AssemblyInfo.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Refactor
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Exports/AssemblyLoadContextWrapper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Exports/CustomExportAssemblyLoader.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Exports/ExportProviderBuilder.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Telemetry/IDevKitTelemetryReporter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Telemetry/ITelemetryReporter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Telemetry/NoOpTelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/DevKitTelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Telemetry/DevKitTelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/TelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/VSTelemetryReporter.cs
  src/Razor/src/rzls/Program.cs
Owners: @dotnet/razor-tooling

Unrevert "Bump version to 8"
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Ingest new roslyn endpoint to get semantic tokens for precise ranges
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/ProvideSemanticTokensRangesParams.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/SemanticTokensRangesParams.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorLSPConstants.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.Custom.pkgdef
Owners: @dotnet/razor-tooling

nit: remove extra whitespace
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
Owners: @dotnet/razor-tooling

Fix typo in comment
  eng/Build.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler
