Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

Get snippets working in Razor (#9327)
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/Serialization/CompletionListSerializationBenchmark.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/CompletionListMerger.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/Delegation/DelegatedCompletionItemResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/VSInternalCompletionListExtensions.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetCache.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetInfo.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/XmlSnippetParser.CodeSnippet.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/XmlSnippetParser.ExpansionTemplate.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/XmlSnippetParser.ParsedXmlSnippet.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/XmlSnippetParser.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorCustomMessageTarget.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/RazorPackage.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/TestDocumentMappingService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/TestClient.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/CompletionIntegrationTests.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/DictionaryExtensions.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2286964
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.cs.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.de.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.es.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.fr.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.it.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.ja.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.ko.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.pl.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.pt-BR.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.ru.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.tr.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.zh-Hans.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.zh-Hant.xlf
Owners: @dotnet/razor-tooling

Remove obsolete (and unused) directive registration methods
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/InjectDirective.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/ModelDirective.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/RazorExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/InjectDirective.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/ModelDirective.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/NamespaceDirective.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/PageDirective.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/InjectDirective.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ModelDirective.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/PageDirective.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/FunctionsDirective.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/InheritsDirective.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/SectionDirective.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
Owners: @dotnet/razor-compiler

Remove obsolete (and unused) extension methods for BoundAttributeDescriptorBuilder
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorBuilderExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
Owners: @dotnet/razor-compiler

Remove unused RazorEngineBuilderExtensions
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/RazorEngineBuilderExtensions.cs
Owners: @dotnet/razor-compiler

Remove obsolete RazorEngineBuilderExtensions only used in tests
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorEngineBuilderExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorEngineBuilderExtensionsTest.cs
Owners: @dotnet/razor-compiler

Remove another unused copy of RazorEngineBuilderExtensions
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/RazorEngineBuilderExtensions.cs
Owners: @dotnet/razor-tooling

Remove obsolete IRazorEngineBuilder and methods that were only referenced by tests
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorEngineBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorProjectEngineBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/IRazorEngineBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorEngine.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorEngineBuilderTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorEngineTest.cs
Owners: @dotnet/razor-compiler

Merge RazorEngine and DefaultRazorEngine
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/test/NamespaceDirectiveTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorEngine.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorProjectEngineBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorEngine.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorEngineTest.cs
Owners: @dotnet/razor-compiler

Merge RazorProjectEngineBuilder and DefaultRazorProjectEngineBuilder
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorProjectEngineBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorProjectEngine.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorProjectEngineBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorProjectEngineBuilderExtensionsTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorProjectEngineBuilderTest.cs
Owners: @dotnet/razor-compiler

Merge RazorProjectEngine and DefaultRazorProjectEngine
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/test/MvcImportProjectFeatureTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/test/MvcImportProjectFeatureTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/MvcImportProjectFeatureTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorProjectEngine.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorProjectEngine.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorProjectEngineBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Components/ComponentDuplicateAttributeDiagnosticPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Components/ComponentMarkupBlockPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Components/ComponentMarkupEncodingPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Components/ComponentWhitespacePassTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorProjectEngineTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorProjectEngineFeatureBaseTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorProjectEngineTest.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.Helpers.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/SourceGeneratorProjectEngine.cs
Owners: @dotnet/razor-compiler

Change namespace for components to be a file scoped namespace
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriterExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/DefaultDocumentWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentDesignTimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentGenericTypePass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentRuntimeNodeWriter.cs
Owners: @dotnet/razor-compiler

Update azure-pipelines-conditional-integration.yml for Azure Pipelines
  azure-pipelines-conditional-integration.yml
Owners: none

Remove an unneeded key comparison from MetadataCollection.OneToThreeItems
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/MetadataCollection.cs
Owners: @dotnet/razor-compiler

Remove unused TryGetSmartIndenter
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultRazorEditorFactoryService.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/RazorEditorFactoryService.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultRazorEditorFactoryServiceTest.cs
Owners: @dotnet/razor-tooling

fix conditions on test running
  azure-pipelines-conditional-integration.yml
Owners: none

Change ide facts to be conditional skip
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/FindAllReferencesTests.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/GoToDefinitionTests.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/OnTypeFormattingTests.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/ProjectTests.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/RenameTests.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/SynchronizationTests.cs
Owners: @dotnet/razor-tooling

Update azure-pipelines-conditional-integration.yml for Azure Pipelines (#9388)
  azure-pipelines-conditional-integration.yml
Owners: none

Change ide facts to be conditional skip (#9390)
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/FindAllReferencesTests.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/GoToDefinitionTests.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/OnTypeFormattingTests.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/ProjectTests.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/RenameTests.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/SynchronizationTests.cs
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2288065
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.it.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.pt-BR.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.ru.xlf
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2288370
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.ja.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.zh-Hans.xlf
Owners: @dotnet/razor-tooling

Fix cron string
  azure-pipelines-conditional-integration.yml
Owners: none

Add ProxyGen IVT
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/AssemblyInfo.cs
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2288736
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.de.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.es.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.zh-Hant.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.cs.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.de.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.es.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.fr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.it.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ja.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ko.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2288736
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.pl.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.pt-BR.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ru.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.tr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.zh-Hans.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.zh-Hant.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Include test files.
  src/Razor/test/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor.Test/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor.Test.csproj
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2288736 (#9396)
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.de.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.es.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.ja.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.zh-Hans.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.zh-Hant.xlf
Owners: @dotnet/razor-tooling

Fix nullability in test shim
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.ComponentShim/Microsoft.AspNetCore.Components.netstandard2.0.cs
Owners: @dotnet/razor-compiler

Fix parent tag calculation for attribute hovers
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Hover/HoverInfoService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/TagHelperServiceTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Hover/HoverInfoServiceTest.cs
Owners: @dotnet/razor-tooling

Change source mappings to ImmutableArray
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/test/SourceMappingsSerializer.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/test/SourceMappingsSerializer.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/SourceMappingsSerializer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/DefaultCodeRenderingContext.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/DefaultDocumentWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorCSharpDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorHtmlDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/IRazorGeneratedDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorCSharpDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorHtmlDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorHtmlWriter.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/CodeGeneration/TestCodeRenderingContext.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntegrationTestBase.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/SourceMappingsSerializer.cs
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/LanguageServer/RazorDiagnosticsBenchmark.cs
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/LanguageServer/RazorDocumentMappingBenchmark.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorDocumentMappingService.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/RazorSpanMappingService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Diagnostics/RazorTranslateDiagnosticsEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Formatting/FormattingLanguageServerTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Mapping/RazorLanguageQueryEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Mapping/RazorMapToDocumentRangesEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/RazorDocumentMappingServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/CodeGeneration/TestCodeRenderingContext.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntegrationTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/SourceMappingsSerializer.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/Shared/DocumentExcerptServiceTestBase.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/ArrayExtensions.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/ImmutableArrayExtensions.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2289410
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.cs.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.fr.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.ko.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.pl.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.tr.xlf
Owners: @dotnet/razor-tooling

Reduce noise when viewing git diff on VS code
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/UriExtensions.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/UriExtensionsTest.cs
Owners: @dotnet/razor-tooling

Emit `@formname` before child content (#9324)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentRuntimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_ChildContent/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_ChildContent/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_ChildContent/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_ChildContent/TestComponent.ir.txt
Owners: @dotnet/razor-compiler

PR Feedback
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/RenderMode_With_Null/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/RenderMode_With_Null/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/RenderMode_With_Null/TestComponent.mappings.txt
Owners: @dotnet/razor-compiler

ComponentTagHelperDescriptorProvider: Cache assembly reference tag helpers
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/ITagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/ComponentTagHelperDescriptorProvider.cs
Owners: @dotnet/razor-compiler

Introduce infrastructure to collect tag helpers from symbols with caching
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/ComponentTagHelperDescriptorProvider.cs
Owners: @dotnet/razor-compiler

EventHandlerTagHelperDescriptorProvider: Cache assembly reference tag helpers
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/ComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/EventHandlerTagHelperDescriptorProvider.cs
Owners: @dotnet/razor-compiler

BindTagHelperDescriptorProvider: Cache assembly reference tag helpers
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/BindTagHelperDescriptorProvider.cs
Owners: @dotnet/razor-compiler

DefaultTagHelperDescriptorProvider: Cache assembly reference tag helpers
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/BindTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/ComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/DefaultTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/EventHandlerTagHelperDescriptorProvider.cs
Owners: @dotnet/razor-compiler

ViewComponentTagHelperDescriptorProvider: Cache assembly reference tag helpers
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTypeVisitor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.cs
Owners: @dotnet/razor-compiler

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler
