Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2289410 (#9405)
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.cs.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.fr.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.ko.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.pl.xlf
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/xlf/VSPackage.tr.xlf
Owners: @dotnet/razor-tooling

Emit `@formname` before child content (#9324) (#9408)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentRuntimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_ChildContent/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_ChildContent/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_ChildContent/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_ChildContent/TestComponent.ir.txt
Owners: @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2290123
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.pt-BR.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ru.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.tr.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Convert Microsoft.AspNetCore.Razor.Language to use SourceText directly.
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/ChecksumUtilities.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriterExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/DefaultDocumentWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorCodeDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorSourceLineCollection.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/DefaultTagHelperTargetExtension.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/MetadataAttributePass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/MetadataAttributeTargetExtension.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/RazorSourceChecksumAttributeIntermediateNode.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/LargeTextSourceDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpCodeParser.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/SeekableTextReader.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorCodeDocumentExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorHtmlWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorSourceDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorSourceDocumentProperties.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorSourceLineCollection.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/SourceLocation.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/StreamSourceDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/StringSourceDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxNodeExtensions.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/SourceTextRazorSourceDocument.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Extensions/SourceTextExtensions.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Convert to Roslyn's TextSpan in Microsoft.AspNetCore.Razor.Language
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/ChecksumUtilities.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/SeekableTextReader.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListOfT.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxNode.Iterators.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxNode.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxReplacer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxTriviaList.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxWalker.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/TextSpan.cs
Owners: @dotnet/razor-compiler

Convert to SourceText and TextSpan in the razor extensions projects.
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/Microsoft.CodeAnalysis.Razor.Compiler.Mvc.Version1_X.csproj
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/MvcViewDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/Microsoft.CodeAnalysis.Razor.Compiler.Mvc.Version2_X.csproj
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/MvcViewDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/RazorPageDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/MvcViewDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/RazorPageDocumentClassifierPass.cs
Owners: @dotnet/razor-compiler

Fixup checksum
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/Microsoft.CodeAnalysis.Razor.Compiler.Mvc.Version1_X.csproj
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/MvcViewDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/Microsoft.CodeAnalysis.Razor.Compiler.Mvc.Version2_X.csproj
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/MvcViewDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/RazorPageDocumentClassifierPass.cs
Owners: @dotnet/razor-compiler

Convert SourceGenerator to SourceText and TextSpan
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorSourceDocument.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/SourceGeneratorProjectItem.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/SourceTextSourceLineCollection.cs
Owners: @dotnet/razor-compiler

Convert Microsoft.AspNetCore.Razor.TestCommon to SourceText and TextSpan
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntegrationTestBase.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/RazorBaselineIntegrationTestBase.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/SourceMappingsSerializer.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/SyntaxTreeVerifier.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/TestRazorSourceDocument.cs
Owners: @dotnet/razor-compiler

Simplify SeekableTextReader's TextSpan usage
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/SeekableTextReader.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorSourceDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorSourceDocumentProperties.cs
Owners: @dotnet/razor-compiler

Move Microsoft.AspNetCore.Razor.Language.Test to SourceText and TextSpan
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/DefaultDocumentWriterTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Components/ComponentDocumentClassifierPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorSourceLineCollectionTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Extensions/DefaultMetadataIdentifierFeatureTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Extensions/MetadataAttributePassTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Extensions/MetadataAttributeTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/LargeTextSourceDocumentTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorSourceDocumentTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/StreamSourceDocumentTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/StringSourceDocumentTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Syntax/FindTokenTests.cs
Owners: @dotnet/razor-compiler

Remove now-unnecessary tests from Microsoft.NET.Sdk.Razor.SourceGenerators.Tests
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/SourceTextSourceLineCollectionTest.cs
Owners: @dotnet/razor-compiler

Move all Mvc.Extensions tests to SourceText and TextSpan
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/test/MvcViewDocumentClassifierPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/test/SourceMappingsSerializer.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/test/AssemblyAttributeInjectionPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/test/MvcViewDocumentClassifierPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/test/RazorPageDocumentClassifierPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/test/SourceMappingsSerializer.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/ConsolidatedMvcViewDocumentClassifierPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/CreateNewOnMetadataUpdateAttributePassTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/MvcViewDocumentClassifierPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/RazorPageDocumentClassifierPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/SourceMappingsSerializer.cs
Owners: @dotnet/razor-compiler

Share SourceMappingSerializer between all layers
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/SourceMappingsSerializer.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/SourceMappingsSerializer.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/SourceMappingsSerializer.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Microsoft.AspNetCore.Razor.Test.Common.csproj
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Convert the tooling layer to SourceText and TextSpan
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/LanguageServer/RazorSemanticTokensRangeEndpointBenchmark.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/AddUsingsCodeActionProviderHelper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/Razor/AddUsingsCodeActionResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/Razor/CodeBlockService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/Razor/ExtractToCodeBehindCodeActionResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/DirectiveAttributeTransitionCompletionItemProvider.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Diagnostics/RazorTranslateDiagnosticsService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/RangeExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/SyntaxNodeExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/TextSpanExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingContext.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingSpan.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingUtilities.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingVisitor.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorDocumentMappingService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorSyntaxFacts.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/TagHelperSemanticRangeVisitor.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/WrapWithTag/WrapWithTagEndpoint.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/DirectiveAttributeCompletionItemProviderBase.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/DefaultHtmlFactsService.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Extensions/RazorCodeDocumentExtensions.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/HtmlFactsService.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/DocumentState.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/RazorSpanMappingService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test.Common/LanguageServerTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test.Common/TestDocumentContext.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/AutoInsert/RazorOnAutoInsertProviderTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/Razor/ExtractToCodeBehindCodeActionProviderTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/DirectiveAttributeTransitionCompletionItemProviderTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/FindNodeTests.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Formatting/FormattingContentValidationPassTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Formatting/FormattingDiagnosticValidationPassTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Formatting/FormattingTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntegrationTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/RazorBaselineIntegrationTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/SyntaxTreeVerifier.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/TestRazorSourceDocument.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/Completion/DirectiveAttributeCompletionItemProviderBaseTest.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/SourceTextExtensionsTest.cs
Owners: @dotnet/razor-tooling

Fix tooling benchmarks projects to use the new APIs
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/LanguageServer/RazorDiagnosticsBenchmark.cs
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/LanguageServer/RazorDocumentMappingBenchmark.cs
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/RazorCodeDocumentExtensions.cs
Owners: @dotnet/razor-tooling

It helps to ToString the right object
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/SourceMappingsSerializer.cs
Owners: @dotnet/razor-compiler

Apply PR feedback and add tests
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/UriExtensions.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/UriExtensionsTest.cs
Owners: @dotnet/razor-tooling

Fix snippets so spacebar doesn't complete. Disable for csharp while we fix bad issues
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/CompletionIntegrationTests.cs
Owners: @dotnet/razor-tooling

Minor fix
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/UriExtensionsTest.cs
Owners: @dotnet/razor-tooling

PR feedback
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/test/LegacySectionTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeRenderingContext.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/DefaultCodeRenderingContext.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/DefaultDocumentWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorHtmlWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/DesignTimeNodeWriterTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Extensions/SectionTargetExtensionTest.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/CodeGeneration/TestCodeRenderingContext.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/CodeGeneration/TestCodeRenderingContext.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2290431
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.cs.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.fr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.it.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ja.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2290431
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.zh-Hans.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.zh-Hant.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Don't assume everything is a snippet
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetInfo.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
Owners: @dotnet/razor-tooling

Fix usings
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetInfo.cs
Owners: @dotnet/razor-tooling

Allow cached tag helpers to vary depending on IncludeDocumentation and ExcludeHidden options
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.Cache.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/BindTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/ComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/DefaultTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/EventHandlerTagHelperDescriptorProvider.cs
Owners: @dotnet/razor-compiler

Fix some snippets (#9412)
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/CompletionIntegrationTests.cs
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2290705
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.de.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.es.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ko.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Reduce noisy errors when viewing git diff on VS code (#9407)
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/UriExtensions.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/UriExtensionsTest.cs
Owners: @dotnet/razor-tooling

Dont run conditional on PRs
  azure-pipelines-conditional-integration.yml
Owners: none

Apply code review feedback for tag helper caching
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.Cache.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.cs
Owners: @dotnet/razor-compiler

Do not provide snippet completion if a user typed '<' in html
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/CompletionIntegrationTests.cs
Owners: @dotnet/razor-tooling

Return an incomplete list if the delegated server doesn't respond
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2291545
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.pl.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Make sure we carry ProjectContext through to code action resolve
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/BaseDelegatedCodeActionResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/CSharp/DefaultCSharpCodeActionResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/CSharp/UnformattedRemappingCSharpCodeActionResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/Html/DefaultHtmlCodeActionResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/Models/CodeActionExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/Models/CodeActionResolveParams.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/RazorResolveCodeActionParams.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/CodeActions.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/CSharp/DefaultCSharpCodeActionResolverTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/CodeActionResolutionEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/Html/DefaultHtmlCodeActionResolverTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

Don't bother looking up ever project if we know where it comes from
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DefaultDocumentContextFactory.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DefaultDocumentContextFactoryTest.cs
Owners: @dotnet/razor-tooling

Don't run conditional tests on PRs (#9416)
  azure-pipelines-conditional-integration.yml
Owners: none

Don't map to ranges that are invalid
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorDocumentMappingService.cs
Owners: @dotnet/razor-tooling

Found a repro, made a test!
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/RazorDocumentMappingServiceTest.cs
Owners: @dotnet/razor-tooling

Change constraint to require that T inherit from TagHelperCollector<T>
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.Cache.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/BindTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/ComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/DefaultTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/EventHandlerTagHelperDescriptorProvider.cs
Owners: @dotnet/razor-compiler
