Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler

Update config for 17.9P1
  eng/Versions.props
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Update vsix version to 17.8 p3
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Upgrade Shell package version (#9316)
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Add a test
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_ChildContent/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_ChildContent/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_ChildContent/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_ChildContent/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_ChildContent/TestComponent.ir.txt
Owners: @dotnet/razor-compiler

Emit `@formname` before child content
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentRuntimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_ChildContent/TestComponent.codegen.cs
Owners: @dotnet/razor-compiler

Emit `@formname` before child content (#9324)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentRuntimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_ChildContent/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_ChildContent/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/FormName_ChildContent/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_ChildContent/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/FormName_ChildContent/TestComponent.ir.txt
Owners: @dotnet/razor-compiler

Get completions populating the cache
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetCache.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetInfo.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/RazorPackage.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
Owners: @dotnet/razor-tooling

Add snippet endpoint
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/Serialization/CompletionListSerializationBenchmark.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Common/LanguageServerConstants.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/RazorCompletionListProvider.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/RazorSnippetCompletionParams.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetInfo.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorCustomMessageTarget.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/RazorCompletionItemResolverTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

Translate snippets
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/RazorCompletionListProvider.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/RazorSnippetCompletionParams.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetFunctionService.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetInfo.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/XmlSnippetParser.CodeSnippet.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/XmlSnippetParser.ExpansionTemplate.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/XmlSnippetParser.ParsedXmlSnippet.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/XmlSnippetParser.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorCustomMessageTarget.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/DictionaryExtensions.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Remove unused code
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetFunctionService.cs
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2277660
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.zh-Hant.xlf
Owners: none

Get building
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/CompletionListProviderTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/RazorCompletionListProvierTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2277660 (#9328)
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/Razor.Diagnostics.Analyzers/xlf/Resources.zh-Hant.xlf
Owners: none

Disable navbar for 17.8
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentSymbol/DocumentSymbolEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ProjectContexts/ProjectContextsEndpoint.cs
Owners: @dotnet/razor-tooling

Merge RazorDiagnostic and DefaultRazorDiagnostic
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorDiagnostic.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/LanguageCharacteristics.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/Tokenizer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorDiagnostic.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorDiagnosticTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorDiagnosticTest.cs
Owners: @dotnet/razor-compiler

Skip reporting fault for OperationCanceledException
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/TelemetryReporter.cs
Owners: @dotnet/razor-tooling

Disable navbar for 17.8 (#9332)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentSymbol/DocumentSymbolEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ProjectContexts/ProjectContextsEndpoint.cs
Owners: @dotnet/razor-tooling

Improve RazorDiagnosticDescriptor
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/RazorExtensionsDiagnosticFactory.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/RazorExtensionsDiagnosticFactory.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/RazorExtensionsDiagnosticFactory.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentDiagnosticFactory.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorDiagnostic.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorDiagnosticDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorDiagnosticFactory.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorCSharpLoweringPhaseTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorTagHelperBinderPhaseTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DirectiveRemovalOptimizationPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorDiagnosticDescriptorTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorDiagnosticTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/RazorDiagnosticFactory.cs
  src/Compiler/shared/RazorDiagnosticJsonConverter.cs
  src/Compiler/shared/TagHelperDescriptorJsonConverter.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorDiagnosticTest.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectReaders.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/RazorDiagnosticFormatter.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/CSharp/DefaultCSharpCodeActionProviderTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/CSharp/TypeAccessibilityCodeActionProviderTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/Razor/ComponentAccessibilityCodeActionProviderTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.ProjectEngineHost.Test/Serialization/TagHelperDeltaResultSerializationTest.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/Serialization/TagHelperDescriptorSerializationTest.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Clean up RazorDiagnostic.Create(...) overloads
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentDiagnosticFactory.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentLoweringPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultDirectiveSyntaxTreePass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/DefaultTagHelperTargetExtension.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorDiagnostic.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorDiagnosticFactory.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DirectiveRemovalOptimizationPassTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/RazorDiagnosticFactory.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorDiagnosticTest.cs
Owners: @dotnet/razor-compiler

Mark RazorDiagnosticDescriptor as sealed
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorDiagnosticDescriptor.cs
Owners: @dotnet/razor-compiler

Apply suggestions from code review
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetInfo.cs
Owners: @dotnet/razor-tooling

Fix broken tests
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/RazorCompletionListProvierTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/TestDocumentMappingService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/TestClient.cs
Owners: @dotnet/razor-tooling

Use ImmutableInterlocked
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetCache.cs
Owners: @dotnet/razor-tooling

Show non-html element completions even if their attribute rules aren't satisfied
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/LanguageServerTagHelperCompletionService.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/LanguageServerTagHelperCompletionServiceTest.cs
Owners: @dotnet/razor-tooling

Fix formatting of minimized tag helper attributes
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormattingPassBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Formatting/HtmlFormattingTest.cs
Owners: @dotnet/razor-tooling

Correct nullability for RazorDiagnostic.Equals(...)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorDiagnostic.cs
Owners: @dotnet/razor-compiler

Add high-performance UrlDecoder implementation
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/UrlDecoder.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.ProjectEngineHost.Test/Utilities/UrlDecoderTests.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/BufferExtensions.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/MemoryExtensions.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Microsoft.AspNetCore.Razor.Utilities.Shared.csproj
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledArray`1.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledObject`1.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/SR.resx
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.cs.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.de.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.es.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.fr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.it.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ja.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ko.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.pl.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.pt-BR.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.ru.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.tr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.zh-Hans.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Resources/xlf/SR.zh-Hant.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Re-write FilePathNormalizer.Normalize(...) to be allocation-free
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/FilePathNormalizer.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/UrlDecoder.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledArrayBuilderExtensions.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/SpanExtensions.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Rewrite FilePathNormalizer.FilePathsEquivalent(...) to be allocation-free
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/FilePathComparer.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/FilePathComparison.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/FilePathNormalizer.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Re-write FilePathNormalizer.GetDirectory(...) to reduce allocations
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/FilePathNormalizer.cs
Owners: @dotnet/razor-tooling

A bit of clean up
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/FilePathComparer.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/FilePathComparison.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/FilePathNormalizer.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Re-write FilePathNormalizer.NormalizeDirectory(...) to reduce allocations
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/FilePathNormalizer.cs
Owners: @dotnet/razor-tooling

Call FilePathNormalizer.GetNormalizedDirectoryName(...) in ProjectKey.From
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ProjectSystem/DefaultRazorProjectService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ProjectSystem/SnapshotResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/FilePathNormalizer.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/ProjectKey.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test.Common/TestDocumentSnapshot.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/SnapshotResolverTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.ProjectEngineHost.Test/FilePathNormalizerTest.cs
Owners: @dotnet/razor-tooling

Apply code review feedback for FilePathNormalizer
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/FilePathNormalizer.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/UrlDecoder.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.ProjectEngineHost.Test/Utilities/UrlDecoderTests.cs
Owners: @dotnet/razor-tooling

Clean up unnecessary usings and consolidate list patterns
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/FilePathComparer.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/FilePathComparison.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/FilePathNormalizer.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Simplify completion text calculation. Make it so we only compute on resolve
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetInfo.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/XmlSnippetParser.ParsedXmlSnippet.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
Owners: @dotnet/razor-tooling

Simplify so snippet cache holds onto the snippet parser
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetCache.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorCustomMessageTarget.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

Change it so snippet info lazily generates the parsed xml
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetCache.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetInfo.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/XmlSnippetParser.cs
Owners: @dotnet/razor-tooling

Cache by language id in a dictionary
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/Serialization/CompletionListSerializationBenchmark.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Common/LanguageServerConstants.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/RazorCompletionListProvider.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Snippets/SnippetCache.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/CompletionListProviderTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/RazorCompletionItemResolverTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/RazorCompletionListProvierTest.cs
Owners: @dotnet/razor-tooling

Get rid of pragma ignore
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
Owners: @dotnet/razor-tooling
