Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

update unit tests
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

Update src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
Owners: @dotnet/razor-tooling

No longer need logic for multiple roslyn requests per razor call
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/ProvideSemanticTokensRangesParams.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/ProvideSemanticTokensResponse.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RangesParamsRazorSemanticTokensInfoServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokensInfoServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/SemanticTokenTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_CSharp_Explicit.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_CSharp_FunctionAsync.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_CSharp_Implicit.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_CSharp_Nested_HTML.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_IgnoresNonTagHelperAttributesAsync.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_WithAttributeAsync.semantic.txt
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

Fixes whitespace issue
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokensInfoServiceTest.cs
Owners: @dotnet/razor-tooling

Mark builders as sealed
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptorBuilder.cs
Owners: @dotnet/razor-compiler

Unify tag helper diagnostics
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDiagnostics.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperObject.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptor.cs
Owners: @dotnet/razor-compiler

No need to pass minimal range into params
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/ProvideSemanticTokensRangesParams.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

Update roslyn package version to take new endpoint
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Don't try and discover tag helpers from the compilation when suppressed - Update logging to correctly show if we ran or not - Update tests to check we're not performing any work
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.RazorProviders.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTests.cs
Owners: @dotnet/razor-compiler

Unify and share logic across tag helper builders
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptorBuilder_Pooling.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorBuilder_Pooling.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorBuilder_Pooling.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BuilderExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/IBuilder`1.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptorBuilder_Pooling.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorBuilder.PooledBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorBuilder_Pooling.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorComparer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperObjectBuilderCollection`2.Enumerator.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperObjectBuilderCollection`2.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperObjectBuilder`1.PooledBuilderPolicy`1.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperObjectBuilder`1.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperPooledObjectPolicy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptorBuilder_Pooling.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledHashSet`1.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Don't populate metadata refs when suppressed - Clean up suppression checking logic - Refactor out some common code
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/IncrementalValueProviderExtensions.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.RazorProviders.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.cs
Owners: @dotnet/razor-compiler

Use iterator for tag helper GetDiagnostics() methods
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptor.cs
Owners: @dotnet/razor-compiler

Employ ImmutableInterlocked.InterlockedInitialize(...)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptor.cs
Owners: @dotnet/razor-compiler

Fixing LF issue on file
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokensInfoServiceTest.cs
Owners: @dotnet/razor-tooling

Prefer empty strings over null! when contructing tag helpers
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptorBuilder.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/LanguageServerTagHelperCompletionService.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/LegacyTagHelperCompletionService.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Rework how flags are stored and set in tag helpers
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentComplexAttributeContentPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentEventHandlerLoweringPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentLoweringPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/TagHelperDescriptorExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorTagHelperContextDiscoveryPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperBlockRewriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/MetadataCollection.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperObject.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorTagHelperBinderPhaseTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentDiscoveryIntegrationTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/BindTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/ComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/BaseTagHelperDescriptorProviderTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/BindTagHelperDescriptorProviderTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/ComponentTagHelperDescriptorProviderTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/EventHandlerTagHelperDescriptorProviderTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/KeyTagHelperDescriptorProviderTest.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/RefTagHelperDescriptorProviderTest.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ExternalAccess.LegacyEditor/RazorWrapperFactory.TagHelperDescriptorWrapper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingVisitor.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Refactoring/RenameEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/TagHelperSemanticRangeVisitor.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/LanguageServerTagHelperCompletionService.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/LegacyTagHelperCompletionService.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Update Roslyn to 4.8.0-2.23469.5
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix empty parentheses in nav bar
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/ProjectContexts.cs
Owners: @dotnet/razor-tooling

Update Razor telemetry version
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Run speedometer by default
  eng/pipelines/insert.yml
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Update src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.RazorProviders.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.RazorProviders.cs
Owners: @dotnet/razor-compiler

Redo changes
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Common/CustomMessageNames.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/ProvideSemanticTokensRangesParams.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokensInfoServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/SemanticTokenTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_CSharp_Explicit.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_CSharp_FunctionAsync.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_CSharp_Implicit.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_CSharp_Nested_HTML.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_IgnoresNonTagHelperAttributesAsync.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_WithAttributeAsync.semantic.txt
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

Update Roslyn to 4.8.0-2.23469.5 (#9309)
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Address feedback
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/VSTelemetryReporter.cs
Owners: @dotnet/razor-tooling

- Add PreviewPaneChannels to pkgdef - Code cleanup
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.Custom.pkgdef
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokensInfoServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/SemanticTokenTestBase.cs
Owners: @dotnet/razor-tooling

Add Razor language server telemetry to C# DevKit (#9283)
  Razor.Slim.slnf
  Razor.sln
  eng/AfterSigning.targets
  eng/AfterSolutionBuild.targets
  eng/Publishing.props
  eng/Versions.props
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Exports/CustomExportAssemblyLoader.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Exports/ExportProviderBuilder.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Telemetry/ITelemetryReporter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Telemetry/NoOpTelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Telemetry/DevKitTelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Microsoft.VisualStudio.Editor.Razor.csproj
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/NullTelemetryScope.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/TelemetryHelpers.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/TelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/TelemetryScope.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/VSTelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/TelemetryReporter.cs
  src/Razor/src/rzls/Program.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Properties/AssemblyInfo.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix failing unit tests
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/SemanticTokenTestBase.cs
Owners: @dotnet/razor-tooling

Update Roslyn to 4.8.0-3.23471.2
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

undo downgrade
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Improve tests
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokensInfoServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/SemanticTokenTestBase.cs
Owners: @dotnet/razor-tooling

Fix suppression (#9306)
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/IncrementalValueProviderExtensions.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.RazorProviders.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTests.cs
Owners: @dotnet/razor-compiler

skip over the right issue number
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokensInfoServiceTest.cs
Owners: @dotnet/razor-tooling

Update Roslyn deps to 4.8.0-3.23475.1
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Update mock setup
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

Update Roslyn to `4.8.0-3.23471.2` (#9312)
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Unskip - no longer needed
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokensInfoServiceTest.cs
Owners: @dotnet/razor-tooling

Update src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
Owners: @dotnet/razor-tooling

Upgrade Shell package version
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Ingest new roslyn endpoint to get semantic tokens for precise ranges (#9304)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Common/CustomMessageNames.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/ProvideSemanticTokensResponse.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Models/SemanticTokensRangesParams.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorLSPConstants.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.Custom.pkgdef
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RangesParamsRazorSemanticTokensInfoServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokensInfoServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/SemanticTokenTestBase.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorCustomMessageTargetTest.cs
Owners: @dotnet/razor-tooling

Check once for the new endpoint per app lifetime
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
Owners: @dotnet/razor-tooling

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler
