Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler

Remove exceptionstrategy change
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorLanguageServerWrapper.cs
Owners: @dotnet/razor-tooling

Fix Windows-specific new lines in WrapWithTagEndpointTests
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/WrapWithTag/WrapWithTagEndpointTests.cs
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2324975
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.it.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.ja.xlf
Owners: @dotnet/razor-tooling

Ship release/dev17.9 to VS main until VS snap
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix Windows-specific file paths in MonitorProjectConfigurationFilePathEndpointTest
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/MonitorProjectConfigurationFilePathEndpointTest.cs
Owners: @dotnet/razor-tooling

Fix RemoteInvocationException reporting (#9596)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/JsonRPCFaultExceptionHandler.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorLanguageServer.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Telemetry/IFaultExceptionHandler.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/VSTelemetryReporter.cs
Owners: @dotnet/razor-tooling

Ship release/dev17.9 to VS main until VS snap (#9633)
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Publish on document change if the config file doesn't exist
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorProjectInfoPublisher.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorProjectInfoPublisherTest.cs
Owners: @dotnet/razor-tooling

Fix Windows-specific file paths in ProjectConfigurationStateSynchronizerTest
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/ProjectConfigurationStateSynchronizerTest.cs
Owners: @dotnet/razor-tooling

Fix post cherry-pick
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorProjectInfoPublisher.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorProjectInfoPublisherTest.cs
Owners: @dotnet/razor-tooling

Fix Windows-specific file paths in RemoteRazorProjectFileSystemTest
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/RemoteRazorProjectFileSystemTest.cs
Owners: @dotnet/razor-tooling

Don't show matching tags for attribute bindings on html element hovers
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Hover/HoverInfoService.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/HoverTests.cs
Owners: @dotnet/razor-tooling

Fix Windows-specific spans in ExtractToCodeBehindCodeActionProviderTest
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/Razor/ExtractToCodeBehindCodeActionProviderTest.cs
Owners: @dotnet/razor-tooling

Fix RemoteInvocationException reporting (#9596)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/JsonRPCFaultExceptionHandler.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorLanguageServer.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Telemetry/IFaultExceptionHandler.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Telemetry/VSTelemetryReporter.cs
Owners: @dotnet/razor-tooling

Fix Windows line endings in SemanticTokensTest
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/SemanticTokensTest.cs
Owners: @dotnet/razor-tooling

Fix Windows-specific file paths in DefaultDocumentContextFactoryTest
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DefaultDocumentContextFactoryTest.cs
Owners: @dotnet/razor-tooling

Fix Windows line endings in FindNodeTests
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/FindNodeTests.cs
Owners: @dotnet/razor-tooling

Fix Windows-specific file paths in TagHelperTooltipFactoryBaseTest
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/TagHelperTooltipFactoryBaseTest.cs
Owners: @dotnet/razor-tooling

Add helper for creating rooted paths to avoid NetFx quirk
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/TagHelperTooltipFactoryBaseTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DefaultDocumentContextFactoryTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/MonitorProjectConfigurationFilePathEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/PathUtilities.cs
Owners: @dotnet/razor-tooling

Change Directory.Build.targets file to use GetPathOfFileAbove
  src/Razor/Directory.Build.targets
Owners: @dotnet/razor-tooling

Make HoverInfoServiceTest.Handle_Hover_SingleServer_AddTagHelper a bit more resilient on net472
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Hover/HoverInfoServiceTest.cs
Owners: @dotnet/razor-tooling

Fix up DefaultDocumentContextFactory test to use PathUtilities.CreateRootedPath()
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DefaultDocumentContextFactoryTest.cs
Owners: @dotnet/razor-tooling

Fix fallback project manager in the presence of linked files or shared projects (#9582)
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/FallbackProjectManager.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/ProjectSystem/FallbackProjectManagerTest.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/Shared/TestProjectData.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/DefaultRazorDynamicFileInfoProviderTest.cs
Owners: @dotnet/razor-tooling

Revert "Include Roslyn dependencies"
  azure-pipelines.yml
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Change pipelines to 'non-scouting'
  azure-pipelines.yml
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Change pipelines to 'non-scouting' (#9642)
  azure-pipelines.yml
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Change pipelines to 'non-scouting' (#9642)
  azure-pipelines.yml
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Change pipelines to 'non-scouting' (#9642) (#9643)
  azure-pipelines.yml
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Migrate to the Locker GitHub action for locking closed/stale issues/PRs
  .github/fabricbot.json
  .github/workflow/locker.yml
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2327159
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.cs.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.de.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.es.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.fr.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.ko.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.pl.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.pt-BR.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.ru.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.tr.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.zh-Hans.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.zh-Hant.xlf
Owners: @dotnet/razor-tooling

Remove `EA.RazorCompiler` reference
  eng/Version.Details.xml
  eng/Versions.props
  src/Compiler/Directory.Packages.props
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators.Transport/Microsoft.NET.Sdk.Razor.SourceGenerators.Transport.csproj
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/Microsoft.CodeAnalysis.Razor.Compiler.SourceGenerators.csproj
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.cs
  src/Compiler/Microsoft.Net.Compilers.Razor.Toolset/Microsoft.Net.Compilers.Razor.Toolset.csproj
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTests.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTestsBase.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Insert release/dev17.9 to rel branch
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Update publishdata for 17.9
  eng/config/PublishData.json
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Attempt to fix DefaultDocumentContextFactory for non-Windows
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DefaultDocumentContextFactoryTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/LanguageServer/TestDocumentSnapshot.cs
Owners: @dotnet/razor-tooling

Remap enhanced pragmas Rename option Add extra tests
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriterExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorCodeGenerationOptions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorCodeGenerationOptionsBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorCodeGenerationOptions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorCodeGenerationOptionsBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/DesignTimeNodeWriterTest.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RemoteProjectSnapshotProjectEngineFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioRazorParser.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Update SDK tools to 17.8
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Update to 17.9P1
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Updating signing.props
  eng/Signing.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Apply suggestions from code review feedback
  eng/Versions.props
  src/Razor/Directory.Build.targets
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/Razor/ExtractToCodeBehindCodeActionProviderTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DefaultDocumentContextFactoryTest.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Remove Microsoft.SourceBuild.Intermediate from prebuilt baseline
  eng/SourceBuildPrebuiltBaseline.xml
Owners: @dotnet/source-build-internal
