Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet-maestro-bot, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling
/azure-pipelines.yml                           @dotnet/razor-tooling
/eng/                                          @dotnet/razor-tooling
/eng/common/                                   @dotnet-maestro-bot
/eng/Versions.props                            @dotnet-maestro-bot
/eng/Version.Details.xml                       @dotnet-maestro-bot
/src/                                          @dotnet/razor-tooling @NTaylorMullen @ryanbrandenburg @allisonchou @sharwell

Add test for TagHelperDescriptorCache (#4266)
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/TagHelperDescriptorCacheTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Remove common dependencies between Razor and Roslyn (#4274)
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor.CoreComponents/Microsoft.CodeAnalysis.Remote.Razor.CoreComponents.csproj
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Remove LSP.Protocol code bases / inclusion in VSIX.
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/AssemblyCodeBases.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/source.extension.vsixmanifest
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Remove LSP.Protocol code bases / inclusion in VSIX.
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/AssemblyCodeBases.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/source.extension.vsixmanifest
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

[Razor] Fixes pack incrementalism issue (#21506)
  src/RazorSdk/Targets/Microsoft.NET.Sdk.Razor.StaticWebAssets.5_0.targets
  src/RazorSdk/Targets/Microsoft.NET.Sdk.Razor.StaticWebAssets.targets
  src/test/Microsoft.NET.Sdk.Razor.Tests/StaticWebAssetsIntegrationTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix nullable annotation (#2423)
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/RazorDocumentServiceProvider.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

View cache
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/DefaultProjectSnapshotManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/RazorProjectHostBase.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

CachedTextLoader
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer.Common/DefaultRemoteTextLoaderFactory.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/CachedTextLoader.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/DefaultProjectSnapshotManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/EditorDocumentManagerBase.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/RazorProjectHostBase.cs
  src/Razor/src/Microsoft.VisualStudio.Mac.LanguageServices.Razor/ProjectSystem/RazorProjectHostBase.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/CachedTextLoaderTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

[Razor] Fixes pack incrementalism issue (#21506) (#21541)
  src/RazorSdk/Targets/Microsoft.NET.Sdk.Razor.StaticWebAssets.5_0.targets
  src/RazorSdk/Targets/Microsoft.NET.Sdk.Razor.StaticWebAssets.targets
  src/test/Microsoft.NET.Sdk.Razor.Tests/StaticWebAssetsIntegrationTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix inaccurate HTML/CSS diagnostics on C#.
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Diagnostics/RazorDiagnosticsEndpoint.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Diagnostics/RazorDiagnosticsEndpointTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix formatting
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/DefaultProjectSnapshotManager.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Diagnostics/RazorDiagnosticsEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Diagnostics/RazorDiagnosticsEndpoint.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix tests
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Diagnostics/RazorDiagnosticsEndpointTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix inaccurate HTML/CSS diagnostics on C#. (#4280)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Diagnostics/RazorDiagnosticsEndpoint.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Diagnostics/RazorDiagnosticsEndpointTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

[Razor] Unskip tests for deployonbuild (#20600)
  src/test/Microsoft.NET.Sdk.Razor.Tests/StaticWebAssetsBaselines/BuildProjectWithReferences_DeployOnBuild_GeneratesPublishJsonManifestAndCopiesPublishAssets.Build.staticwebassets.json
  src/test/Microsoft.NET.Sdk.Razor.Tests/StaticWebAssetsBaselines/BuildProjectWithReferences_DeployOnBuild_GeneratesPublishJsonManifestAndCopiesPublishAssets.Publish.files.json
  src/test/Microsoft.NET.Sdk.Razor.Tests/StaticWebAssetsBaselines/BuildProjectWithReferences_DeployOnBuild_GeneratesPublishJsonManifestAndCopiesPublishAssets.Publish.staticwebassets.json
  src/test/Microsoft.NET.Sdk.Razor.Tests/StaticWebAssetsBaselines/Build_DeployOnBuild_GeneratesPublishJsonManifestAndCopiesPublishAssets.Build.staticwebassets.json
  src/test/Microsoft.NET.Sdk.Razor.Tests/StaticWebAssetsBaselines/Build_DeployOnBuild_GeneratesPublishJsonManifestAndCopiesPublishAssets.Publish.files.json
  src/test/Microsoft.NET.Sdk.Razor.Tests/StaticWebAssetsBaselines/Build_DeployOnBuild_GeneratesPublishJsonManifestAndCopiesPublishAssets.Publish.staticwebassets.json
  src/test/Microsoft.NET.Sdk.Razor.Tests/StaticWebAssetsIntegrationTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

React to nullable changes in Microsoft.Extensions.DependencyModel
  src/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTests.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Add a test for SuppressRazorSourceGenerator incrementalism
  src/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTests.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Apply suggestions from code review
  src/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTests.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Port updates to source generator from main (#20918)
  src/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTests.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Razor Support `;` after `@typeparam` (dotnet/aspnetcore#37148)
  src/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpCodeParser.cs
  src/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentDiscoveryIntegrationTest.cs
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithConstrainedTypeParameters_WithSemicolon/TestComponent.codegen.cs
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithConstrainedTypeParameters_WithSemicolon/TestComponent.ir.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithConstrainedTypeParameters_WithSemicolon/TestComponent.mappings.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithConstrainedTypeParameters_WithSemicolon/UseTestComponent.codegen.cs
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithConstrainedTypeParameters_WithSemicolon/UseTestComponent.ir.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithConstrainedTypeParameters_WithSemicolon/UseTestComponent.mappings.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithTypeParameters_WithSemicolon/TestComponent.codegen.cs
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithTypeParameters_WithSemicolon/TestComponent.ir.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ComponentWithTypeParameters_WithSemicolon/TestComponent.mappings.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithConstrainedTypeParameters_WithSemicolon/TestComponent.codegen.cs
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithConstrainedTypeParameters_WithSemicolon/TestComponent.ir.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithConstrainedTypeParameters_WithSemicolon/TestComponent.mappings.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithConstrainedTypeParameters_WithSemicolon/UseTestComponent.codegen.cs
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithConstrainedTypeParameters_WithSemicolon/UseTestComponent.ir.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithConstrainedTypeParameters_WithSemicolon/UseTestComponent.mappings.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithTypeParameters_WithSemicolon/TestComponent.codegen.cs
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithTypeParameters_WithSemicolon/TestComponent.ir.txt
  src/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ComponentWithTypeParameters_WithSemicolon/TestComponent.mappings.txt
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Add support for localized component names msbuild property
  src/RazorSdk/SourceGenerators/RazorSourceGenerationOptions.cs
  src/RazorSdk/SourceGenerators/RazorSourceGenerator.Helpers.cs
  src/RazorSdk/SourceGenerators/RazorSourceGenerator.RazorProviders.cs
  src/RazorSdk/Targets/Microsoft.NET.Sdk.Razor.SourceGenerators.targets
  src/RazorSdk/Tasks/SdkRazorGenerate.cs
  src/RazorSdk/Tool/GenerateCommand.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Updates
  src/RazorSdk/SourceGenerators/RazorSourceGenerator.Helpers.cs
  src/RazorSdk/Targets/Microsoft.NET.Sdk.Razor.CodeGeneration.targets
  src/RazorSdk/Tasks/SdkRazorGenerate.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Updates
  src/RazorSdk/SourceGenerators/RazorSourceGenerator.Helpers.cs
  src/RazorSdk/Targets/Microsoft.NET.Sdk.Razor.CodeGeneration.targets
  src/RazorSdk/Tasks/SdkRazorGenerate.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Add support for localized component names msbuild property
  src/RazorSdk/SourceGenerators/RazorSourceGenerationOptions.cs
  src/RazorSdk/SourceGenerators/RazorSourceGenerator.Helpers.cs
  src/RazorSdk/SourceGenerators/RazorSourceGenerator.RazorProviders.cs
  src/RazorSdk/Targets/Microsoft.NET.Sdk.Razor.SourceGenerators.targets
  src/RazorSdk/Tasks/SdkRazorGenerate.cs
  src/RazorSdk/Tool/GenerateCommand.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Add third party notices file.
  NOTICE.txt
Owners: none

Remove async void
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorLSPTextViewConnectionListener.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Remove async void (#4403)
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorLSPTextViewConnectionListener.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Add third party notices file. (#4402)
  NOTICE.txt
Owners: none

Hide RazorGeneral rule file properties (#21659)
  src/RazorSdk/Targets/Rules/RazorGeneral.xaml
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix C# snippets being included in completion.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Fix C# snippets being included in completion.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update branding for 3.1.21
  eng/Versions.props
Owners: @dotnet-maestro-bot

[internal/release/3.1] Update dependencies from dnceng/internal/dotnet-extensions
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet-maestro-bot

[internal/release/3.1] Update dependencies from dnceng/internal/dotnet-extensions
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet-maestro-bot

Switch to 1ES R&D pools on main
  azure-pipelines-richnav.yml
  azure-pipelines.yml
Owners: @dotnet/razor-tooling

Update issue filing link
  README.md
Owners: none

Format the first code block in a file to be at the start of a line
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormattingPassBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Formatting/CodeDirectiveFormattingTest.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Don't return MarkupTextLiterals
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/TagHelperSemanticRangeVisitor.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Update Baseline expectations
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_CSharpBlock_HTML.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_HandleTransitionEscape.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_MultipleBlankLines.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_PartialHTMLCommentAsync.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_Razor_DoesNotApplyOnNonTagHelpersAsync.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_Razor_EditTwiceAsync.semanticedit.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/DefaultRazorSemanticTokenInfoServiceTest/GetSemanticTokens_Razor_EditTwiceAsync_1.semanticedit.txt
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell

Remove unneeded check
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/TagHelperSemanticRangeVisitor.cs
Owners: @dotnet/razor-tooling, @NTaylorMullen, @ryanbrandenburg, @allisonchou, @sharwell
