Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler

Avoid using IncrementalHash on .NET Framework
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/IncrementalHashPool.Policy.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/IncrementalHashPool.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/Checksum.Builder.Policy.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/Checksum.Builder.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/Checksum.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Revert "Cache tag helpers per assembly reference"
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTypeVisitor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/ITagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.Cache.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/BindTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/ComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/DefaultTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/EventHandlerTagHelperDescriptorProvider.cs
Owners: @dotnet/razor-compiler

Replace explicit richCodeNavigationEnvironment in azure-pipelines-richnav.yml
  azure-pipelines-richnav.yml
Owners: none

Guess what! I've got a fever, and the only prescription is more usings!
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/test/InjectTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/test/ViewComponentTagHelperTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/test/InjectTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/test/ViewComponentTagHelperTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/InjectTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/ViewComponentTagHelperTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/DesignTimeNodeWriterTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/LiteralRuntimeNodeWriterTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/RuntimeNodeWriterTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/TagHelperHtmlAttributeRuntimeNodeWriterTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Extensions/DefaultTagHelperTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Extensions/DesignTimeDirectiveTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Extensions/MetadataAttributeTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Extensions/PreallocatedAttributeTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Extensions/SectionTargetExtensionTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Extensions/TemplateTargetExtensionTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/CodeGeneration/TestCodeRenderingContext.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Simplify assembly filtering in tag helper collector
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperCollector.cs
Owners: @dotnet/razor-compiler

Don't report that we're synchronized if the line count is wrong
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/SemanticTokens.cs
Owners: @dotnet/razor-tooling

Fix C# delegation
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/MapCodeEndpoint.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/MapCode.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/MapCode/MapCodeTest.cs
Owners: @dotnet/razor-tooling

Don't map to the middle of a node
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/MapCodeEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/Mappers/InsertMapper.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/MapCode/MapCodeTest.cs
Owners: @dotnet/razor-tooling

Run compliance on preview VS
  azure-pipelines-compliance.yml
Owners: none

BindTagHelperDescriptorProvider should search the compilation
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/BindTagHelperDescriptorProvider.cs
Owners: @dotnet/razor-compiler

Fixup SemanticRange calculation for Roslyn SourceText differences.
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/TagHelperSemanticRangeVisitor.cs
Owners: @dotnet/razor-tooling

Review feedback: * Rename SourceText->Text * Minor nits
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/MvcViewDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/MvcViewDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/RazorPageDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/MvcViewDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/RazorPageDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriterExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/DefaultDocumentWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentDocumentClassifierPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/DefaultTagHelperTargetExtension.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/MetadataAttributePass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpCodeParser.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/SeekableTextReader.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorCodeDocumentExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorHtmlWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorSourceDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxNodeExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorSourceDocumentTest.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntegrationTestBase.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/RazorBaselineIntegrationTestBase.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/SourceMappingsSerializer.cs
  src/Compiler/test/Microsoft.AspNetCore.Razor.Test.Common/Language/SyntaxTreeVerifier.cs
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/LanguageServer/RazorDiagnosticsBenchmark.cs
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/LanguageServer/RazorDocumentMappingBenchmark.cs
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/LanguageServer/RazorSemanticTokensRangeEndpointBenchmark.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/Razor/AddUsingsCodeActionResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/Razor/CodeBlockService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/Razor/ExtractToCodeBehindCodeActionResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/SyntaxNodeExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingUtilities.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorDocumentMappingService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/TagHelperSemanticRangeVisitor.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Extensions/RazorCodeDocumentExtensions.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntegrationTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/RazorBaselineIntegrationTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/SyntaxTreeVerifier.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Fixup RazorDocumentMappingService after merge
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorDocumentMappingService.cs
Owners: @dotnet/razor-tooling

Do not add snippets on deletion as reason for completion
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/CompletionIntegrationTests.cs
Owners: @dotnet/razor-tooling

Correct line-ending calculations for CodeBlocks, add a few new tests
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/Razor/CodeBlockService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/CodeActionEndToEndTest.cs
Owners: @dotnet/razor-tooling

Update tests
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/MapCode/MapCodeTest.cs
Owners: @dotnet/razor-tooling

Review feedback
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Common/CustomMessageNames.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/SyntaxNodeExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/MapCodeEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/Protocol/MapperMethods.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/MapCode.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/MapCode/MapCodeTest.cs
Owners: @dotnet/razor-tooling

See if this breaks everything under the sun
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentSynchronization/DocumentDidChangeEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/OpenDocumentGenerator.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DocumentSynchronization/DocumentDidChangeEndpointTest.cs
Owners: @dotnet/razor-tooling

Add unit tests to validate BindTagHelperDescriptorProvider behavior
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/BindTagHelperDescriptorProviderTest.cs
Owners: @dotnet/razor-compiler

Don't bother passing target symbol into BindTagHelperDescriptorProvider+Collector
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/BindTagHelperDescriptorProvider.cs
Owners: @dotnet/razor-compiler

Add a couple of asserts
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Extensions/MetadataAttributePass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorProjectEngineBuilder.cs
Owners: @dotnet/razor-compiler

Set capacity when creating PooledArrayBuilder
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingContext.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/DocumentState.cs
Owners: @dotnet/razor-tooling

Use ImmutableArray in DocumentState
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/DocumentState.cs
Owners: @dotnet/razor-tooling

Apply code review feedback for incrementalhash changes
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/Checksum.Builder.Policy.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Utilities/Checksum.Builder.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Do not add snippets on deletion as reason for completion (#9443)
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/CompletionIntegrationTests.cs
Owners: @dotnet/razor-tooling

Using directive
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormattingPassBase.cs
Owners: @dotnet/razor-tooling

Remove LocateOwner from CSharpFormattingPassBase
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormattingPassBase.cs
Owners: @dotnet/razor-tooling

Don't attempt to find nodes past the document, replicating old behavior.
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormattingPassBase.cs
Owners: @dotnet/razor-tooling

Tests? Where we're going we don't need tests!
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/OpenDocumentGeneratorTest.cs
Owners: @dotnet/razor-tooling

Don't dispose inside a lock, when disposing calls a method that tries to take a lock
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/CSharpVirtualDocumentAddListener.cs
Owners: @dotnet/razor-tooling

Pass filename across to completion resolve for later use
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/LegacyRazorCompletionEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/LegacyRazorCompletionResolveEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/RazorCompletionItemResolver.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/RazorCompletionListProvider.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/RazorCompletionResolveContext.cs
Owners: @dotnet/razor-tooling

Add project availability info to tooltip
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Tooltip/DefaultLSPTagHelperTooltipFactory.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Tooltip/DefaultVSLSPTagHelperTooltipFactory.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Tooltip/LSPTagHelperTooltipFactory.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Tooltip/TagHelperTooltipFactoryBase.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Tooltip/VSLSPTagHelperTooltipFactory.cs
Owners: @dotnet/razor-tooling

Pass document file name in hover service
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Hover/HoverEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Hover/HoverInfoService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Hover/IHoverInfoService.cs
Owners: @dotnet/razor-tooling

Update existing tests
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/DefaultLSPTagHelperTooltipFactoryTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/DefaultVSLSPTagHelperTooltipFactoryTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/LegacyRazorCompletionResolveEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/RazorCompletionItemResolverTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Hover/HoverInfoServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/TestSnapshotResolver.cs
Owners: @dotnet/razor-tooling

Move tooltip text to resources, and fix bug
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/SR.resx
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.cs.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.de.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.es.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.fr.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.it.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.ja.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.ko.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.pl.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.pt-BR.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.ru.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.tr.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.zh-Hans.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Resources/xlf/SR.zh-Hant.xlf
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Tooltip/DefaultLSPTagHelperTooltipFactory.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Tooltip/DefaultVSLSPTagHelperTooltipFactory.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Tooltip/TagHelperTooltipFactoryBase.cs
Owners: @dotnet/razor-tooling

Add tests
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/TagHelperTooltipFactoryBaseTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/TestSnapshotResolver.cs
Owners: @dotnet/razor-tooling

Remove LocateOwner from CSharpFormattingPassBase (#9389)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormattingPassBase.cs
Owners: @dotnet/razor-tooling

Review feedback
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/SyntaxNodeExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/MapCodeEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/Mappers/InsertMapper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/Protocol/MapCodeMapping.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/MapCode/Protocol/MapCodeParams.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/MapCode/MapCodeTest.cs
Owners: @dotnet/razor-tooling

Remove space as a trigger.
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
Owners: @dotnet/razor-tooling

Contains
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Endpoints/Completion.cs
Owners: @dotnet/razor-tooling
