Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2381198
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.cs.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.de.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.es.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.fr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.it.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.ja.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.ko.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.pl.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.pt-BR.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.ru.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.tr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.zh-Hans.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.zh-Hant.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Track if a using statement has an explicit semicolon
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Intermediate/UsingDirectiveIntermediateNode.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/AddImportChunkGenerator.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpCodeParser.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
Owners: @dotnet/razor-compiler

Add missing source mappings for runtime usings Write out the semicolon if the user didn't explicitly provide it
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/RuntimeNodeWriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentRuntimeNodeWriter.cs
Owners: @dotnet/razor-compiler

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

We need to use full type name in the assert
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/IProjectSnapshotExtensions.cs
Owners: @dotnet/razor-tooling

We need to use full type name in the assert (#9951)
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/IProjectSnapshotExtensions.cs
Owners: @dotnet/razor-tooling

Simplify test code (#9947)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/legacyTest/Legacy/TagHelperParseTreeRewriterTest.cs
Owners: @dotnet/razor-compiler

Create an export provider for services to discover other services
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RazorServiceFactoryBase.ExportProvider.cs
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RazorServiceFactoryBase.cs
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RemoteTagHelperDeltaProvider.cs
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RemoteTagHelperProviderService.cs
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RemoteTagHelperProviderServiceFactory.cs
Owners: @dotnet/razor-tooling

Add launch profile for debugging the OOP service
  .gitignore
  src/Compiler/perf/Microsoft.AspNetCore.Razor.Microbenchmarks.Generator/SampleApp/Properties/launchSettings.json
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/.gitignore
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Properties/launchSettings.json
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Remove telemetry reporter that will always be null
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RazorServiceFactoryBase.cs
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RemoteTagHelperProviderService.cs
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RemoteTagHelperProviderServiceFactory.cs
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RemoteTagHelperResolver.cs
Owners: @dotnet/razor-tooling

Initialize asyncronously
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RazorServiceFactoryBase.ExportProvider.cs
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RazorServiceFactoryBase.cs
Owners: @dotnet/razor-tooling

Bring back telemetry properly, via DI
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/Microsoft.CodeAnalysis.Remote.Razor.csproj
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/RemoteTagHelperResolver.cs
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/Telemetry/OutOfProcessTelemetryReporter.cs
Owners: @dotnet/razor-tooling

Fix directive completion at EOF (last line of file)
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/RazorCompletionFactsService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/RazorCompletionListProvierTest.cs
Owners: @dotnet/razor-tooling

Adjusting issue links
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/RazorCompletionFactsService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/RazorCompletionListProvierTest.cs
Owners: @dotnet/razor-tooling

Add project
  Razor.Slim.slnf
  Razor.sln
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/Microsoft.CodeAnalysis.Razor.Compiler.csproj
Owners: @dotnet/razor-compiler

Move CSharp code
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/AssemblyIdentityEqualityComparer.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/BindTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/CodeAnalysisResources.resx
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/CompilationTagHelperFeature.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/CompilerFeatures.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/ComponentDetectionConventions.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/ComponentTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/DefaultMetadataReferenceFeature.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/DefaultTagHelperDescriptorFactory.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/DefaultTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/DefaultTypeNameFeature.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/EventHandlerTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/FilePathComparer.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/FilePathComparison.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/FormNameTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/GenericTypeNameRewriter.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/GlobalQualifiedTypeNameRewriter.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/IMetadataReferenceFeature.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/KeyTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/RazorDiagnosticFactory.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/RazorLanguage.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/RazorProjectEngineBuilderExtensions.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/RefTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/RenderModeTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/RequiredAttributeParser.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/SourceSpanExtensions.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/SplatTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/SymbolExtensions.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/TagHelperDescriptorProviderContextExtensions.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/TagHelperTargetSymbolExtensions.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/TagHelperTypeVisitor.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/TagHelperTypes.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/TextChangeExtensions.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/TextSpanExtensions.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/baseline.netcore.json
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/CSharp/baseline.netframework.json
Owners: @dotnet/razor-compiler

Move SourceGenerators code
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/RazorSourceGenerator.razorencconfig
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/.editorconfig
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/ConfigureRazorCodeGenerationOptions.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/Diagnostics/DiagnosticIds.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/Diagnostics/RazorDiagnostics.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/Diagnostics/RazorSourceGeneratorResources.resx
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/IncrementalValueProviderExtensions.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/RazorSourceGenerationOptions.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/RazorSourceGenerator.AllTagHelpers.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/RazorSourceGenerator.Helpers.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/RazorSourceGenerator.RazorProviders.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/RazorSourceGenerator.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/RazorSourceGeneratorEventSource.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/SourceGeneratorProjectEngine.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/SourceGeneratorProjectItem.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/SourceGeneratorRazorCodeDocument.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/SourceGenerators/StaticCompilationTagHelperFeature.cs
Owners: @dotnet/razor-compiler

Update docs
  docs/ProjectsAndLayering.md
Owners: none

Fix directive completion at EOF (last line of file) (#9954)
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/RazorCompletionFactsService.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Completion/RazorCompletionListProvierTest.cs
Owners: @dotnet/razor-tooling

Remove name hack from Razor.Test.Common.Tooling
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Microsoft.AspNetCore.Razor.Test.Common.Tooling.csproj
Owners: @dotnet/razor-tooling

Demo nuget versions
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Async hook up change in options (#9809)
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/ClientSettingsManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/IClientSettingsManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Options/OptionsStorage.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/ClientSettingsManagerTest.cs
Owners: @dotnet/razor-tooling

Remove unused ITextDocument and ITextBuffer abstractions and directly use SeekableTextReader instead.
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpLanguageCharacteristics.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpTokenizer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/DirectiveCSharpTokenizer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/DirectiveHtmlTokenizer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/FirstDirectiveCSharpLanguageCharacteristics.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/FirstDirectiveHtmlLanguageCharacteristics.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/HtmlLanguageCharacteristics.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/HtmlTokenizer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/ITextBuffer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/ITextDocument.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/LanguageCharacteristics.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/ParserContext.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/SeekableTextReader.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/Tokenizer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/TokenizerView.cs
Owners: @dotnet/razor-compiler

Use C# lexer for quoted string literals, and update baselines where they slightly change from minor lexing differences.
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpTokenizer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/CSharpTokenizerLiteralTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/CSharpTokenizerTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/DirectiveCSharpTokenizerTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/DirectiveHtmlTokenizerTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/HtmlTokenizerTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/TokenizerTestBase.cs
Owners: @dotnet/razor-compiler

Handle character literals with the C# lexer
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpTokenizer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/CSharpTokenizerLiteralTest.cs
Owners: @dotnet/razor-compiler

Todo comment
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/CSharpTokenizerLiteralTest.cs
Owners: @dotnet/razor-compiler

Move MEF error detection to a test, and add some known current exceptions
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/AbstractRazorEditorTest.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/MEFComponentTests.cs
Owners: @dotnet/razor-tooling

Add feature flag for fuse
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ConfigurableLanguageServerFeatureOptions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DefaultLanguageServerFeatureOptions.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/LanguageServerFeatureOptions.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioWindowsLanguageServerFeatureOptions.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.Custom.pkgdef
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Workspaces/TestLanguageServerFeatureOptions.cs
Owners: @dotnet/razor-tooling

Use the LanguageServerOptions to inform SuppressDesignTime
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectReaders.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/RazorConfigurationFormatter.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/ProjectSystemRazorConfiguration.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/DefaultWindowsRazorProjectHost.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.ProjectEngineHost.Test/Serialization/ProjectSnapshotHandleSerializationTest.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/Serialization/RazorConfigurationSerializationTest.cs
  src/Razor/test/Microsoft.CodeAnalysis.Remote.Razor.Test/OOPTagHelperResolverTest.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultProjectSnapshotProjectEngineFactoryTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/DefaultWindowsRazorProjectHostTest.cs
Owners: @dotnet/razor-tooling

PR feedback
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ConfigurableLanguageServerFeatureOptions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DefaultLanguageServerFeatureOptions.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/LanguageServerFeatureOptions.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/DefaultWindowsRazorProjectHost.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioWindowsLanguageServerFeatureOptions.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.Custom.pkgdef
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Workspaces/TestLanguageServerFeatureOptions.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/DefaultWindowsRazorProjectHostTest.cs
Owners: @dotnet/razor-tooling

Missed one
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/Workspaces/TestLanguageServerFeatureOptions.cs
Owners: @dotnet/razor-tooling

Bump version
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/SerializationFormat.cs
Owners: @dotnet/razor-tooling

Fix json serialization
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectWriters.cs
Owners: @dotnet/razor-tooling

Move MEF error detection to a test, and add some known current exceptions
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/AbstractRazorEditorTest.cs
  src/Razor/test/Microsoft.VisualStudio.Razor.IntegrationTests/MEFComponentTests.cs
Owners: @dotnet/razor-tooling

Create the path, instead of waiting for it to be created
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ProjectConfigurationFileChangeDetector.cs
Owners: @dotnet/razor-tooling

Suppress ToString nullable
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/Language/AllowedChildTagDescriptor.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/Language/BoundAttributeDescriptor.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/Language/BoundAttributeParameterDescriptor.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/Language/RequiredAttributeDescriptor.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/Language/TagHelperDescriptor.cs
Owners: @dotnet/razor-compiler

Fixup IVT
  src/Compiler/Microsoft.CodeAnalysis.Razor.Compiler/src/Properties/AssemblyInfo.cs
Owners: @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2384928
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.cs.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.de.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.es.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.fr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.it.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.ja.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.ko.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.pl.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.pt-BR.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.ru.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.tr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.zh-Hans.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/Strings.zh-Hant.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Rename compiler side
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorConfiguration.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorProjectEngine.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectReaders.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectWriters.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/RazorConfigurationFormatter.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/FallbackRazorConfiguration.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/ProjectSystemRazorConfiguration.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/Serialization/RazorConfigurationSerializationTest.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/DefaultWindowsRazorProjectHostTest.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Test code in product code :(
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/DefaultWindowsRazorProjectHost.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServices.Razor.Test/ProjectSystem/DefaultWindowsRazorProjectHostTest.cs
Owners: @dotnet/razor-tooling

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler
