Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

Load options storage up front to avoid a JTF.Run on option read in background processes
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Options/OptionsStorage.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/RazorPackage.cs
Owners: @dotnet/razor-tooling

Fix missed using in DocumentVersionCache
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/DefaultProjectSnapshotManager.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/ReadWriterLocker.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Handle nested type parameters (#9689)
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentGenericTypePass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_02/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_02/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_02/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_03/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_03/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_03/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_Dynamic/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_Dynamic/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_Dynamic/TestComponent.mappings.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_02/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_02/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_03/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_03/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_Dynamic/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/CascadingGenericInference_GenericArgumentNested_Dictionary_Dynamic/TestComponent.ir.txt
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/DefaultTypeNameFeature.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/DefaultTypeNameFeatureTest.cs
Owners: @dotnet/razor-compiler

Don't do anything if we're not cohosting
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/OpenDocumentGenerator.cs
Owners: @dotnet/razor-tooling

Move to non-deprecated NuGetAuthenticate@1 task
  eng/restore-internal-tools.yml
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Move to non-deprecated NuGetAuthenticate@1 task (#9800)
  eng/restore-internal-tools.yml
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Finish off the CohostDocumentSnapshot by sharing reusing code from DocumentState
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/CohostDocumentSnapshot.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/DocumentState.cs
Owners: @dotnet/razor-tooling

Create snapshots and factories that use Roslyn project info instead of our own
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/CohostDocumentSnapshot.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/CohostProjectSnapshot.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/DocumentSnapshotFactory.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/ProjectSnapshotFactory.cs
Owners: @dotnet/razor-tooling

Create a DocumentContextFactory for cohosting that uses the new factories
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/CohostDocumentContextFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/RazorCohostRequestContextExtensions.cs
Owners: @dotnet/razor-tooling

Fill out tag helpers
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/CohostProjectSnapshot.cs
Owners: @dotnet/razor-tooling

Fill out related documents properties
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/CohostProjectSnapshot.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/ProjectSnapshotFactory.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/ProjectState.cs
Owners: @dotnet/razor-tooling

Use the new system for the current cohost endpoints
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/CohostDocumentColorEndpoint.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/CohostSemanticTokensRangeEndpoint.cs
Owners: @dotnet/razor-tooling

Fake the document version for now
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/CohostDocumentContextFactory.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/IDocumentVersionCache.cs
Owners: @dotnet/razor-tooling

Fill out RazorConfiguration and ProjectEngine properties
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/CohostProjectSnapshot.cs
Owners: @dotnet/razor-tooling

Update a baseline
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/TestFiles/RazorSourceGeneratorComponentTests/ScriptTag/Views_Home_Index.html
Owners: @dotnet/razor-compiler

Async hook up change in options
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/ClientSettingsManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/IClientSettingsManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Options/OptionsStorage.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/ClientSettingsManagerTest.cs
Owners: @dotnet/razor-tooling

PR feedback
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Options/OptionsStorage.cs
Owners: @dotnet/razor-tooling

PR Feedback
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/CohostProjectSnapshot.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/DocumentSnapshotFactory.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Cohost/ProjectSnapshotFactory.cs
Owners: @dotnet/razor-tooling

Update ASP.NET Core runtime used in tests to v8 GA (#9793)
  eng/Versions.props
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/TestFiles/RazorSourceGeneratorComponentTests/ScriptTag/Views_Home_Index.html
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2352215
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.cs.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.de.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.es.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.fr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.it.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.ja.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.ko.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2352215
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.pl.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.pt-BR.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.ru.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.tr.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.zh-Hans.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.zh-Hant.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Accept code review feedback
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Diagnostics/DocumentPullDiagnosticsEndpoint.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Diagnostics/DocumentPullDiagnosticsEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Diagnostics/RazorDiagnosticConverterTest.cs
Owners: @dotnet/razor-tooling

Async hook up change in options (#9809)
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/ClientSettingsManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/IClientSettingsManager.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Options/OptionsStorage.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Snippets/SnippetService.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/ClientSettingsManagerTest.cs
Owners: @dotnet/razor-tooling

Localized file check-in by OneLocBuild Task: Build definition ID 262: Build ID 2352653
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.de.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.es.xlf
  src/Shared/Microsoft.AspNetCore.Razor.Serialization.Json/Internal/xlf/SR.fr.xlf
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Convert RazorProjectService to an interface
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentSynchronization/DocumentDidChangeEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentSynchronization/DocumentDidCloseEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentSynchronization/DocumentDidOpenEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/IServiceCollectionExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ProjectConfigurationStateSynchronizer.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ProjectSystem/DefaultRazorProjectService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ProjectSystem/IRazorProjectService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/ProjectSystem/RazorProjectService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorFileSynchronizer.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/DidChangeHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/DidCloseHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/DidOpenHandler.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DefaultRazorProjectServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DocumentSynchronization/DocumentDidChangeEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DocumentSynchronization/DocumentDidCloseEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DocumentSynchronization/DocumentDidOpenEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/ProjectConfigurationStateSynchronizerTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/RazorFileSynchronizerTest.cs
Owners: @dotnet/razor-tooling

Accept code review feedback (part 2)
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Diagnostics/DocumentPullDiagnosticsEndpointTest.cs
Owners: @dotnet/razor-tooling

Fix shipped API
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
Owners: @dotnet/razor-compiler

Run pipeline on branch
  azure-pipelines.yml
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Add comment
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/IncrementalValueProviderExtensions.cs
Owners: @dotnet/razor-compiler

Use the Roslyn project system for generating code for open documents
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/CohostTextDocumentSyncHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/DidChangeHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/DidCloseHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/DidOpenHandler.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/Cohost/OpenDocumentGenerator.cs
Owners: @dotnet/razor-tooling

Reference VS protocol from workspaces (because it's not transitively brought in by Roslyn any more)
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Microsoft.CodeAnalysis.Razor.Workspaces.csproj
Owners: @dotnet/razor-tooling

Expose TestAccessor from DocumentVersionCache rather than direct access to internals
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.TestAccessor.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DocumentVersionCacheTest.cs
Owners: @dotnet/razor-tooling

Rework DocumentVersionCache tests to use real ProjectSnapshotManagerDispatcher
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.DocumentEntry.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.TestAccessor.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DocumentVersionCacheTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common.Tooling/LanguageServer/LanguageServerTestBase.cs
Owners: @dotnet/razor-tooling

Move another method to DocumentVersionCache.TestAccessor
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.TestAccessor.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DocumentVersionCacheTest.cs
Owners: @dotnet/razor-tooling

Add Debug.Asserts to make expected locking states clear
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/ReadWriterLocker.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix misspelled method name
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.TestAccessor.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/DefaultProjectSnapshotManager.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/ReadWriterLocker.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Stop passing structs around in DocumentVersionCache
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.TestAccessor.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.cs
Owners: @dotnet/razor-tooling

Apply code review feedback for DocumentVersionCache
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentVersionCache.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/ReadWriterLocker.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Accept code review feedback (part 4)
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Diagnostics/DocumentPullDiagnosticsEndpointTest.cs
Owners: @dotnet/razor-tooling

Unify IErrorReporter instances
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DefaultProjectSnapshotManagerAccessor.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ErrorReporter.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ErrorReporterFactory.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/IErrorReporter.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/DefaultProjectSnapshotManagerFactory.cs
  src/Razor/src/Microsoft.CodeAnalysis.Remote.Razor/OOPTagHelperResolverFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultImportDocumentManagerFactory.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioRazorParserFactoryFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/Documents/VisualStudioFileChangeTrackerFactoryFactory.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioErrorReporter.cs
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioErrorReporterFactory.cs
Owners: @dotnet/razor-tooling

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler
