Repository dotnet/razor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/razor-tooling, @dotnet/razor-compiler, @dotnet/source-build-internal

Fix typo in comment
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledArrayBuilder`1.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix Utilities.Shared.Test runs with net7.0 TFM
  src/Shared/Directory.Build.props
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared.Test/Microsoft.AspNetCore.Razor.Utilities.Shared.Test.csproj
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Remove incomplete (and unneeded) comment
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledArrayBuilder`1.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix whitespace in my PR that fixes whitespace
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/CodeActions/Razor/ExtractToCodeBehindCodeActionResolver.cs
Owners: @dotnet/razor-tooling

Revert "Transport v1 and v2 of MVC extensions (#9266)"
  src/Compiler/tools/Microsoft.AspNetCore.Mvc.Razor.Extensions.Tooling.Internal/Microsoft.AspNetCore.Mvc.Razor.Extensions.Tooling.Internal.csproj
Owners: @dotnet/razor-compiler

Use ReadArrayHeaderAndVerify(...) in ProjectWorksapceStateFormatter
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/ProjectWorkspaceStateFormatter.cs
Owners: @dotnet/razor-tooling

Disable feature flag by default for precise ranges
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioWindowsLanguageServerFeatureOptions.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.Custom.pkgdef
Owners: @dotnet/razor-tooling

Create a test with a large file for profiling purposes
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokensInfoServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangeParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_CSharp_LargeFile.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_CSharp_LargeFile.semantic.txt
Owners: @dotnet/razor-tooling

Use a struct instead of protocol types during semantic tokens calculations
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/LanguageServer/RazorSemanticTokensBenchmark.cs
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/LanguageServer/RazorSemanticTokensRangeEndpointBenchmark.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/RangeExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/SourceTextExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/SemanticRange.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/TagHelperSemanticRangeVisitor.cs
Owners: @dotnet/razor-tooling

Rename method to match the one in PositionExtensions
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/RangeExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/SourceTextExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
Owners: @dotnet/razor-tooling

Update a baseline
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/RenderMode_With_TypeInference/TestComponent.codegen.cs
Owners: @dotnet/razor-compiler

Disable feature flag by default for precise ranges (#9278)
  src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/VisualStudioWindowsLanguageServerFeatureOptions.cs
  src/Razor/src/Microsoft.VisualStudio.RazorExtension/Microsoft.VisualStudio.RazorExtension.Custom.pkgdef
Owners: @dotnet/razor-tooling

Preliminary implementation
  Razor.sln
  eng/AfterSigning.targets
  eng/AfterSolutionBuild.targets
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Exports/AssemblyLoadContextWrapper.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Exports/CustomExportAssemblyLoader.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Exports/ExportProviderBuilder.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Telemetry/IDevKitTelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Logging/DevKitTelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
  src/Razor/src/rzls/Program.cs
  src/Shared/LanguageSupport/IsExternalInit.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Properties/AssemblyInfo.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Tweak the large file test so C# tokens arrive out-of-order
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/RazorSemanticTokensInfoServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangeParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_CSharp_LargeFile.semantic.txt
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Semantic/TestFiles/RangesParamsRazorSemanticTokensInfoServiceTest/GetSemanticTokens_CSharp_LargeFile.semantic.txt
Owners: @dotnet/razor-tooling

Fix zip logic
  eng/AfterSigning.targets
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fast path if only one type of tokens is needed
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
Owners: @dotnet/razor-tooling

Comments
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
Owners: @dotnet/razor-tooling

Refactoring
  Razor.sln
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Logging/DevKitTelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Microsoft.VisualStudio.DevKit.Razor.csproj
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Microsoft.VisualStudio.Editor.Razor.csproj
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/TelemetryReporter.cs
  src/Razor/src/Microsoft.VisualStudio.Telemetry.Razor/Microsoft.VisualStudio.Telemetry.Razor.csproj
  src/Razor/src/Microsoft.VisualStudio.Telemetry.Razor/NullTelemetryScope.cs
  src/Razor/src/Microsoft.VisualStudio.Telemetry.Razor/Properties/AssemblyInfo.cs
  src/Razor/src/Microsoft.VisualStudio.Telemetry.Razor/TelemetryHelpers.cs
  src/Razor/src/Microsoft.VisualStudio.Telemetry.Razor/TelemetryScope.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/Properties/AssemblyInfo.cs
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Convert interface to take struct parameters (mostly)
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/IRazorDocumentMappingService.cs
Owners: @dotnet/razor-tooling

Add conversion methods
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/LinePositionExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/LinePositionSpanExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/PositionExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/RangeExtensions.cs
Owners: @dotnet/razor-tooling

Cleanup
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Exports/ExportProviderBuilder.cs
Owners: @dotnet/razor-tooling

Fix CI
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Logging/DevKitTelemetryReporter.cs
Owners: @dotnet/razor-tooling

Fix CI error
  src/Razor/src/Microsoft.VisualStudio.DevKit.Razor/Logging/DevKitTelemetryReporter.cs
Owners: @dotnet/razor-tooling

Add extension methods to maintain source compatibility
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/IRazorDocumentMappingServiceExtensions.cs
Owners: @dotnet/razor-tooling

Update tests
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/RazorDocumentMappingServiceTest.cs
Owners: @dotnet/razor-tooling

More helper methods and conversions
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/LinePositionExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/LinePositionSpanExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/PositionExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/RangeExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/SourceTextExtensions.cs
Owners: @dotnet/razor-tooling

Update existing calls to point to the extension methods
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/AbstractRazorDelegatingEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/IRazorDocumentMappingServiceExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/InlineCompletion/InlineCompletionEndPoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Mapping/RazorLanguageQueryEndpoint.cs
Owners: @dotnet/razor-tooling

Update implementation to switch to structs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorDocumentMappingService.cs
Owners: @dotnet/razor-tooling

Move semantic tokens to the new API
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/LinePositionSpanExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Extensions/RangeExtensions.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/RazorSemanticTokensInfoService.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Semantic/Services/SemanticRange.cs
Owners: @dotnet/razor-tooling

Fix up other tests
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/CodeActions/CodeActionEndpointTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DocumentPresentation/TextDocumentTextPresentationEndpointTests.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/DocumentPresentation/TextDocumentUriPresentationEndpointTests.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Hover/HoverInfoServiceTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.LanguageServer.Test/Refactoring/RenameEndpointTest.cs
Owners: @dotnet/razor-tooling

Use pooled lists where possible
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorDocumentMappingService.cs
Owners: @dotnet/razor-tooling

Publish to right place
  eng/Publishing.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Fix publish
  eng/AfterSigning.targets
  eng/Publishing.props
Owners: @dotnet/razor-tooling, @dotnet/razor-compiler

Reduce allocations and array copies in Razor source generator
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.AllTagHelpers.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/StaticCompilationTagHelperFeature.cs
Owners: @dotnet/razor-compiler

Expose MetadataCollection on tag helpers
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorComparer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorComparer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorComparer.cs
  src/Compiler/shared/TagHelperDescriptorJsonConverter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectWriters.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/TagHelpers/TagHelperFormatter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/ChecksumExtensions.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Expose ImmutableArray for collections (except diagnostics) on tag helpers
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/ViewComponentTagHelperTargetExtension.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/ViewComponentTagHelperTargetExtension.cs
  src/Compiler/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTagHelperTargetExtension.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptorComparer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorComparer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorComparer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BuilderExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentBindLoweringPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/TagHelperDescriptorExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultBoundAttributeDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagHelperDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagMatchingRuleDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptorComparer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperBinder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorComparer.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperMatchingConventions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptorComparer.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/src/BindTagHelperDescriptorProvider.cs
  src/Compiler/Microsoft.CodeAnalysis.Razor/test/BindTagHelperDescriptorProviderTest.cs
  src/Compiler/shared/TagHelperDescriptorJsonConverter.cs
  src/Razor/benchmarks/Microsoft.AspNetCore.Razor.Microbenchmarks/Remote/RemoteTagHelperDeltaProviderBenchmark.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DocumentPresentation/TextDocumentUriPresentationEndpoint.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectReaders.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/TagHelpers/BoundAttributeFormatter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/TagHelpers/TagHelperFormatter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/TagHelpers/TagMatchingRuleFormatter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/ChecksumExtensions.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/DirectiveAttributeCompletionItemProvider.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/Completion/DirectiveAttributeParameterCompletionItemProvider.cs
  src/Razor/test/Microsoft.VisualStudio.LanguageServerClient.Razor.Test/RazorProjectInfoPublisherTest.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Merge DefaultAllowedChildTagDescriptor and builder
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultAllowedChildTagDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultAllowedChildTagDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagHelperDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultTagHelperDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultAllowedChildTagDescriptorBuilderTest.cs
  src/Compiler/shared/TagHelperDescriptorJsonConverter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectReaders.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/TagHelpers/AllowChildTagFormatter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/ChecksumExtensions.cs
  src/Shared/Microsoft.AspNetCore.Razor.Utilities.Shared/PooledObjects/PooledHashSet`1.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Fix build
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormatter.cs
Owners: @dotnet/razor-tooling

Merge DefaultBoundAttributeParameterDescriptor and builder
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultBoundAttributeDescriptorBuilder.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultBoundAttributeDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultBoundAttributeParameterDescriptor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultBoundAttributeParameterDescriptorBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperDiagnostics.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/TagHelperObject.cs
  src/Compiler/shared/TagHelperDescriptorJsonConverter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/Json/ObjectReaders.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Serialization/MessagePack/Formatters/TagHelpers/BoundAttributeParameterFormatter.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.ProjectEngineHost/Utilities/ChecksumExtensions.cs
Owners: @dotnet/razor-compiler, @dotnet/razor-tooling

Add comment
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Exports/AssemblyLoadContextWrapper.cs
  src/Razor/src/Microsoft.VisualStudio.Telemetry.Razor/Microsoft.VisualStudio.Telemetry.Razor.csproj
Owners: @dotnet/razor-tooling

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                   @dotnet/razor-tooling @dotnet/razor-compiler
/azure-pipelines.yml                           @dotnet/razor-tooling @dotnet/razor-compiler
/eng/                                          @dotnet/razor-tooling @dotnet/razor-compiler
/eng/common/                                   @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Versions.props                            @dotnet/razor-tooling @dotnet/razor-compiler
/eng/Version.Details.xml                       @dotnet/razor-tooling @dotnet/razor-compiler
/eng/SourceBuild*                              @dotnet/source-build-internal
/src/Razor                                     @dotnet/razor-tooling
/src/Compiler                                  @dotnet/razor-compiler
/src/Shared                                    @dotnet/razor-tooling @dotnet/razor-compiler
