Repository dotnet/razor, pull requests merged in 2023-11, with the labels that each got.

#9510 Merge `release/dev17.8` to `release/dev17.9`
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/DefaultRazorDynamicFileInfoProvider.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/FallbackHostProject.cs
  src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/FallbackProjectManager.cs
  src/Razor/src/Microsoft.VisualStudio.Editor.Razor/BackgroundDocumentGenerator.cs
  src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/ProjectSystem/FallbackProjectManagerTest.cs
Labels: area-infrastructure

#9512 Warn for unrecognized components with attribute tag helpers
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorComponentTests.cs
Labels: area-compiler

#9543 Insert Razor 17.9 into VS 17.9
  eng/config/PublishData.json
Labels: area-infrastructure

#9603 Revert `<script>` codegen for Razor 7 and lower
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentMarkupBlockPass.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorProjectEngine.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Components/ComponentMarkupBlockPassTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ScriptTag_Razor7/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ScriptTag_Razor7/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ScriptTag_Razor8/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/ScriptTag_Razor8/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ScriptTag_Razor7/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ScriptTag_Razor7/TestComponent.ir.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ScriptTag_Razor8/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ScriptTag_Razor8/TestComponent.ir.txt
Labels: area-compiler

#9605 Fix reporting of incorrect `RazorLangVersion`
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/IncrementalValueProviderExtensions.cs
  src/Compiler/Microsoft.NET.Sdk.Razor.SourceGenerators/RazorSourceGenerator.RazorProviders.cs
  src/Compiler/test/Microsoft.NET.Sdk.Razor.SourceGenerators.Tests/RazorSourceGeneratorTests.cs
Labels: area-compiler

#9612 Reduce allocations related to SyntaxListBuilder
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/ClassifiedSpanVisitor.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorDirectiveClassifierPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorDocumentClassifierPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorOptimizationPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorParsingPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorSyntaxTreePhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorTagHelperContextDiscoveryPhase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/HtmlMarkupParser.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperBlockRewriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperParseTreeRewriter.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorCodeDocumentExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/RazorEnginePhaseBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxList.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilderExtensions.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilderOfT.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilderPool.Policy.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilderPool.PooledBuilder.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListBuilderPool.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxListOfT.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxNode.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxUtilities.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorIntermediateNodeLoweringPhaseTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorParsingPhaseTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/DirectiveTokenEditHandlerTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/Legacy/CodeBlockEditHandlerTest.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/RazorCodeDocumentExtensionsTest.cs
  src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingVisitor.cs
  src/Razor/test/Microsoft.VisualStudio.Editor.Razor.Test/DefaultRazorIndentationFactsServiceTest.cs
Labels: perf :bar_chart:

#9626 Add `global::` prefix to `System.Action`
  src/Compiler/Microsoft.AspNetCore.Razor.Language/src/Intermediate/ReferenceCaptureIntermediateNode.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_WithRef_Nullable_Generic/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/GenericComponent_WithComponentRef_TypeInference_CreatesDiagnostic/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Component_WithRef_Nullable_Generic/TestComponent.codegen.cs
  src/Compiler/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/GenericComponent_WithComponentRef_TypeInference_CreatesDiagnostic/TestComponent.codegen.cs
Labels: area-compiler
